[2016-03-30 13:40] vierno opened #3 "Fix selection tooltip behavior"

[2016-03-30 13:41] vierno opened #4 "Add link to tooltip bar"
It should be possible to add links via the selection tooltip

[2016-03-30 13:46] vierno opened #5 "Increase test coverage"
We should cover most of the core functions with unit tests

[2016-03-30 13:47] vierno opened #6 "It should be possible to turn on/off the editor options"

[2016-03-30 14:10] vierno opened #7 "Refactor the file names and imports"
We need to standardize the names for the tooltip and sidebar and try to reuse some code between then.

[2016-04-11 19:57] vierno commented on #3
Fixed in https://github.com/globocom/megadraft/tree/new-toolbar

[2016-04-11 21:30] ricobl opened #8 "Fix svg backgrounds"
Some svgs have a black box behind the icon, we should remove it.

[2016-04-13 13:02] vierno opened #10 "Add the svg files to the lib transpilation"

[2016-04-13 17:31] #3 closed

[2016-04-13 18:00] ricobl opened #11 "Use pure-css toolbar item separator"

[2016-04-13 18:09] #8 closed

[2016-04-14 18:08] #5 closed

[2016-04-14 19:35] #11 closed

[2016-04-15 19:25] nikgraf opened #14 "Website doesn't work"
<img width="507" alt="screen shot 2016-04-15 at 12 24 48" src="https://cloud.githubusercontent.com/assets/223045/14572710/18972cac-0305-11e6-8584-c2e825e4e300.png">

[2016-04-15 19:33] vierno commented on #14
Fixed in 5e117ce.
Thank you!

[2016-04-15 19:33] #14 closed

[2016-04-18 13:44] vierno opened #15 "Standardize style"
Maybe we should use Radium or CSS Modules, currently we have no standard for css.

[2016-04-18 13:45] vierno commented on #7
Done in c114a07

[2016-04-18 13:45] #7 closed

[2016-04-18 14:05] vierno opened #16 "Media buttons"
It should be possible to add media components using the side buttons.

[2016-04-18 14:31] #4 closed

[2016-04-18 17:04] #10 closed

[2016-04-26 13:26] ricobl opened #20 "Toolbar gets misaligned when applying a link"

[2016-04-27 20:00] vierno opened #22 "Sidebar with Icons"
Create a sidebar with media icons to add image/video.

![screen shot 2016-04-27 at 4 59 34 pm](https://cloud.githubusercontent.com/assets/681628/14866318/79d18f9c-0c99-11e6-9a55-8f11031cb0d9.png)

[2016-04-27 20:05] vierno opened #23 "Create base media block"
Make a base media block with media preview.

* [x] move each component to a single file
* [ ] increase test coverage
* [x] rename `MediaCaption` (it has more than just the caption)
* [x] move caption and rights to the image component

![screen shot 2016-04-27 at 5 02 35 pm](https://cloud.githubusercontent.com/assets/681628/14866374/e63436c6-0c99-11e6-8dd5-3da21bac7140.png)

[2016-04-27 20:07] vierno opened #24 "Text inputs on media blocks"
Create an text input for captions, credits...

[2016-04-27 20:08] vierno opened #25 "Crop"
It should be possible to crop images on the editor.

[2016-04-27 20:10] vierno opened #26 "Error feedback"
Provide an error feedback on the validation

![screen shot 2016-04-27 at 5 09 52 pm](https://cloud.githubusercontent.com/assets/681628/14866615/e4bb1566-0c9a-11e6-9277-2045c67482ba.png)

[2016-04-27 20:14] vierno commented on #16
Closing in favor of the milestone

[2016-04-27 20:14] #16 closed

[2016-04-27 20:16] vierno opened #27 "Selection state on media block"
Add visual feedback to media block selection.

![screen shot 2016-04-27 at 5 14 29 pm](https://cloud.githubusercontent.com/assets/681628/14866760/8cee01bc-0c9b-11e6-8aee-011badf6378a.png)

[2016-04-28 13:16] ricobl opened #28 "Update draft-js to v0.6.0"
https://github.com/facebook/draft-js/releases/tag/v0.6.0

[2016-04-28 14:22] #20 closed

[2016-04-28 17:25] #28 closed

[2016-04-28 18:54] #15 closed

[2016-05-13 22:07] ricobl commented on #22
Can we consider this done @vierno ?

We don't have the full behaviour but we have a working sidebar.

[2016-05-13 22:07] vierno commented on #22
Yeah, closing it!

[2016-05-13 22:07] #22 closed

[2016-05-13 22:08] ricobl commented on #22
Cool! Thanks!

[2016-05-20 14:23] vierno opened #36 "We need docs!"
There should be at least some basic documentation on how to run megadraft locally...

[2016-05-20 21:39] ricobl commented on #25
This component looks interesting:

https://github.com/DominicTobias/react-image-crop

[2016-05-24 20:19] #23 closed

[2016-05-24 21:26] #24 closed

[2016-05-29 15:39] oyeanuj commented on #36
+1 to this. If there can be some docs on how custom media blocks work and how to add newer similar features, that would be even more swell :)

[2016-05-30 21:18] ricobl opened #37 "Typing gets slow sometimes"
We should find bottlenecks and try to improve typing experience.

[2016-06-02 21:27] ArxdSilva opened #39 "Title accepts Bold style"
As a title is already bold, It should be blocked on Toolbar to add as style, to prevent adding useless info to json file.

[2016-06-24 17:46] #6 closed

[2016-06-28 14:31] #25 closed

[2016-06-29 19:42] vierno commented on #26
Done in 0adf970

[2016-06-29 19:42] #26 closed

[2016-07-04 22:21] vierno commented on #39
Related issue: https://github.com/facebook/draft-js/issues/486

[2016-07-05 12:32] ricobl commented on #39
I'm not sure this is a problem, bold is a way to represent the `strong` tag that has a semantic meaning.

But having control over the possible styles as the issue suggests is good. In case the issue gets solved, `Megadraft` should be able to detect possible styles for a selection, enabling or disabling toolbar buttons.

[2016-07-07 17:57] ricobl opened #55 "Use block metadata instead of entities"
Support for block level metadata is on DraftJS' master, using it instead of entities should simplify Megadraft's code and will prevent problems with duplicated entities.

Here is the commit:
https://github.com/facebook/draft-js/commit/7fe617d065a7d23a3a81ff35db0cb1d8011df141

[2016-07-08 18:00] ricobl commented on #36
Looks like we have docs now: http://globocom.github.io/megadraft/#/docs/plugins?_k=ff4861

@oyeanuj: would you like to review? Does it work for you?

[2016-07-08 18:00] #36 closed

[2016-07-13 17:03] vierno opened #58 "In the website, hljs is being called every time the EditorState is updated"
Ideally, the JSON could be updated only on tab change

[2016-07-13 17:05] vierno commented on #58
cc: @arxdsilva

[2016-07-21 20:08] gstoyanov90 opened #59 "Cannot read property 'getCurrentContent' of null"
I'm not advanced in react , just trying to build myself a blog and found that megadraft will do amazing job for me. I just tried to implement it following the Overview section, but it returns

Not sure if this is bug or not :/
I'm using following dependencies: Webpack, React, React Router, React DOM and following code:
        `
         export default React.createClass({

	getInitialState: functi

[2016-07-21 20:17] ricobl commented on #59
Hi @gstoyanov90!

It is great to know that you liked `Megadraft`.

Looks like our sample code is wrong, we'll try to fix it.

In the mean time, you could try using the `editorStateFromRaw` function, it will should work with `null` or a raw json state object.

https://github.com/globocom/megadraft/blob/master/src/utils.js#L24

Here is how it is used on our website:

https://github.com/globocom/mega

[2016-07-21 20:20] #59 closed

[2016-07-21 21:03] gstoyanov90 commented on #59
Now everything is working, also I've just found a way to "fix" (probably it's workaround) of original overview example - just importing EditorState from draftjs + editorState: EditorState.createEmpty().
Sadly I just get that : https://s32.postimg.org/nx8d3z285/megadraft.jpg
Buttons are working great, think that there is something with css styles (that toolbar elements shouldn't be displayed like t

[2016-07-21 21:07] ricobl commented on #59
Great! You're welcome!

You should probably include the `dist/css/megadraft.css` stylesheet in your page.

We'll try to improve our docs to point that out.

[2016-07-22 04:39] gstoyanov90 commented on #59
It's ok now. I really like it, when I finish this little blog, I'll try to support you guys :)

[2016-07-22 13:13] ricobl commented on #59
That's great @gstoyanov90! I'm glad you liked it.

Thanks! We could use some support! :)

[2016-07-28 13:34] imasood opened #61 "adding other commonly features"
hi guys,
the toolbar of megadraft isn't very complete, i think it should be added other commonly features like underline, headings, ...
thanks

[2016-07-28 13:49] ricobl commented on #61
Hi @imasood!

We're lacking documentation but the toolbar is customizable, here are the default actions:
https://github.com/globocom/megadraft/blob/master/src/actions/default.js

You could pass your own actions. It's untested but should look something like this:

[code]

Does that work for you?

[2016-07-28 13:51] ricobl opened #62 "Write docs about toolbar and key bindings customization"
This could help on issues like: #61

[2016-07-28 16:58] imasood commented on #61
it's seems work but there's a problem in `icon`.
i'm not so familiar with `megadraft` structure and the document is so poor.
what should i do for the `icon`?
thanks

[2016-07-28 17:28] ricobl commented on #61
I'm sorry it's not clear, we really have to improve our docs. It's great to have people like you pointing out topics we should improve.

The icons are React components, we usually adapt SVGs from [Google's Material Design Icons][material] and convert them to JSX. Here is the bold icon as an example:
https://github.com/globocom/megadraft/blob/master/src/icons/bold.js

You can import built-in icons

[2016-07-28 17:44] imasood commented on #61
I used to another way to solve this problem.
Any way, as soon as i have enough time it's my pleasure to improve megadraft docs.

[2016-07-28 17:46] ricobl commented on #61
Great @imasood! Your help would be awesome!

[2016-07-28 17:46] #61 closed

[2016-07-29 21:32] episodeyang opened #63 "scss is not included in the distrubution"
Hi there~~ Thanks for this fantastic editor!

It looks like the scss is not included in the distribution.

Some of the partials might be useful if I want to cherry pick only one part of the style.

I could also just use the css though.

Ge

[2016-07-29 21:40] ricobl commented on #63
Hi @episodeyang!

That's a great idea! We'll try to fix this and generate a new release.

Thanks for the feedback.

[2016-07-29 21:58] ricobl commented on #63
Hey @episodeyang!

There's a new release `0.1.10` that includes Sass files.

I hope it helps. We would love to see the result of your customization and hear about your overall experience with `Megadraft`.

[2016-07-29 21:58] #63 closed

[2016-07-30 02:06] ricobl opened #64 "Evaluate migration to React 0.15.3 and usage of React.PureComponent"
Performance could be improved on most components using `PureComponent`:

https://github.com/facebook/react/pull/7195

[2016-07-31 09:46] imasood opened #65 "Electron propmt function in media elements"
Hi Guys,
I'm writing an @electron app but it doesn't let to run `prompt` js function and for this reason actually media element like video or photo they're going to useless.
Anybody have idea to solve this problem?
Thanks

[2016-08-01 14:30] vierno commented on #65
Hello @imasood,

We have no solution for this with the default plugins atm. One solution would be using an html input, in a prompt-like html modal, if you want to contribute to Megadraft, we could use this =)

If you wish, you could write a modified version of the plugins and use with the editor, with another action when the user clicks the button (internally we open our media browser this way).

[2016-08-01 14:34] vierno commented on #65
This guy does something like that:
https://github.com/coderaiser/smalltalk

[2016-08-02 16:18] ricobl commented on #65
Hey @imasood!

I'm closing this issue as it's not a related to Megadraft itself ok?

Please feel free to ask for help if you need!

[2016-08-02 16:18] #65 closed

[2016-08-11 14:13] #58 closed

[2016-08-11 14:14] vierno commented on #55
Done!

[2016-08-11 14:14] #55 closed

[2016-09-06 16:50] Jbarget opened #70 "image functionality not working"
heya!

great module you got here!
On the demo site a few of the functions to adjust images don't seem to work for me:
- crop
- sizing
- the 'edit' button

I'm on chrome 52 if that helps...

![screen shot 2016-09-06 at 17 46 16](https://cloud.githubusercontent.com/assets/11725595/18282747/6413f266-745a-11e6-97bd-627ed35af4db.png)

[2016-09-06 17:00] Jbarget opened #71 "drag and drop media"
is there any talk of an enhancement allowing for drag and dropping of images and videos?

thanks!

[2016-09-06 17:01] ricobl opened #72 "Remove unused buttons from built-in components"
Some buttons are not used and should be removed.

There's an issue reported by @Jbarget:

https://github.com/globocom/megadraft/issues/70

[2016-09-06 17:03] ricobl commented on #70
Hi @Jbarget!

Thanks for reporting.

The sizing dropdown doesn't resizes the image on the interface, it just changes the `display` option on the block metadata. You can check the serialized state on the "content json" tab of our demo:

http://globocom.github.io/megadraft/

As for the buttons, they are intended to work as an example of how to use buttons on a component, maybe we shouldn't have them

[2016-09-06 17:03] #70 closed

[2016-09-06 17:04] Jbarget commented on #70
sure thing! thanks :)

[2016-09-06 17:04] ricobl commented on #70
You're welcome! :)

[2016-09-06 17:12] ricobl commented on #71
That would be great, but we don't have it right now @Jbarget!

[2016-09-08 19:03] Jbarget commented on #71
@ricobl if i get it done i can open a PR
are you open to PRs?

[2016-09-08 19:20] ricobl commented on #71
Sure! We're open to pull requests.

What do you want? Drag-and-drop of media files or some kind of block reordering? Do you have a solution in mind?

[2016-09-09 08:23] Jbarget commented on #71
drag n drop of media files, saw [this](https://github.com/draft-js-plugins/draft-js-plugins/tree/master/draft-js-dnd-plugin) so might try and integrate that

[2016-09-09 13:07] ricobl commented on #71
Cool, we would like to integrate Megadraft with draft-js-plugins. This would allow using this plugin and many others.

I've experimented with it here: https://github.com/globocom/megadraft/tree/poc-draftjs-plugins

It's not clear to me how the `draft-js-dnd-plugin` plugin handles the upload. How does it send files to the backend? Is there a callback?

[2016-09-09 14:09] Jbarget commented on #71
found [this](https://github.com/bkniffler/draft-wysiwyg/blob/384a507cb55ebf81820b99a8a6243023226793da/example/container.js#L138) library that seems to make use of the draft-js-plugins

[2016-09-09 16:22] ricobl commented on #71
Looks good @Jbarget!

[2016-09-12 15:06] AndySeg opened #73 "insertDataBlock is not possible to use"
When I create import like: import {DraftJS, insertDataBlock} from "megadraft"; the insertDataBlock is not possible to use because it was not possible to use insertDataBlock in code and it was null.

[2016-09-12 15:13] AndySeg opened #74 "key value is still null in function get(key) in DraftEntity.js"
I created code like is described in http://globocom.github.io/megadraft/#/docs/plugins?_k=hbjwzp and it is not possible to created new video element because I have still problem: invariant.js:38 Uncaught Invariant Violation: Unknown DraftEntity key. and in code DraftEntity.js on line 68 is key value null.

[2016-09-12 18:15] ricobl commented on #74
Hey @AndySeg, thanks for reporting!

Looks like our Yeoman generator is outdated, we'll post back here after it is updated.

[2016-09-12 19:09] ricobl commented on #74
Hi @AndySeg, there's a new version of the `generator-megadraft-plugin`. You can update it running:

[code]

Please let us know if this works for you or if you.

[2016-09-12 19:15] ricobl commented on #73
Hi @AndySeg, do you have this code available anywhere? Are you using the latest version of Megadraft (0.2.0)?

We've just released a new version of the `generator-megadraft-plugin`, also 0.2.0. It may help if you're creating a plugin.

[2016-09-15 11:41] Jbarget opened #75 "ability to add 'alt text' to an image"
It would be good to have a field as well as 'caption' and 'rights holder' for 'alt text' to help  accessibility

thoughts?
would you accept a PR?

[2016-09-15 13:08] ricobl commented on #75
Can't you use a combination o `caption` and `rightsHolder` to render the `alt` text? That's the way we use.

How do you feel about creating a custom plugin? It's easy using the plugin generator: https://github.com/globocom/generator-megadraft-plugin

[2016-09-15 13:16] ricobl opened #76 "fix empty editorState sidebar jump"
Initially reported by @Nvveen on #66.

[2016-09-15 13:34] Jbarget commented on #75
Unfortunately I wouldnt be able to use a combination of the `caption` and `rightsHolder`, the project im working on is for journalists and the caption can be quite different from the alt text

from the bbc website:
![screen shot 2016-09-15 at 14 32 00](https://cloud.githubusercontent.com/assets/11725595/18551642/31fee602-7b51-11e6-8d53-a36ab28d5a6a.png)

[2016-09-15 14:34] ricobl commented on #75
I see, in that case you'll need the `alt` field.

How do you feel about creating your own image plugin?

[2016-09-15 15:06] Jbarget commented on #75
do you have an example plugin i could use as a reference? Im happy to give it a go but not too sure how to go about it

[2016-09-15 16:31] ricobl commented on #75
We used the generator to create the [megadraft-related-articles-plugin](https://github.com/globocom/megadraft-related-articles-plugin). You can use it as reference.

But I strongly recommend using the generator, after a few commands you'll end up with a basic  plugin running on a local gulp server with watch tasks for JS and SCSS. Here is the docs about the plugin system:

http://globocom.github.i

[2016-09-15 17:05] Jbarget commented on #75
perfect thank you!

[2016-09-15 17:14] ricobl commented on #75
You're welcome @Jbarget! I'm closing the issue ok?

BTW, you can also reach us on the [#megadraft](https://draftjs.slack.com/messages/megadraft/) channel on DraftJS' Slack page.

[2016-09-15 17:14] #75 closed

[2016-09-15 17:18] Jbarget commented on #75
all good!

[2016-09-16 20:11] ricobl commented on #74
@AndySeg: I'll close this issue ok?

Feel free to re-open if you need...

[2016-09-16 20:11] #74 closed

[2016-09-16 20:11] ricobl commented on #73
@AndySeg: I'll close this issue ok?

Feel free to re-open if you need...

[2016-09-16 20:11] #73 closed

[2016-09-16 21:04] ricobl commented on #37
The delay was caused by the code highlight of the editor state on the demo website, it's not a problem of the editor.

Now the demo website highlights the code only when the tab is switched.

[2016-09-16 21:04] #37 closed

[2016-09-27 21:57] amorimgustavo opened #77 "Responsive client for megadraft"
Visual reference

![screenshot_20160927-185440](https://cloud.githubusercontent.com/assets/5922117/18893405/2cd16370-84e4-11e6-880d-c8ed840c963f.png)

[2016-09-28 12:49] ricobl commented on #77
Hey @amorimgustavo, can you explain a little bit more?

Is this an issue? A feature request?

[2016-09-29 17:29] ricobl commented on #77
@amorimgustavo: I'm closing the issue ok? Feel free to reopen if you need.

[2016-09-29 17:29] #77 closed

[2016-10-02 00:12] #76 closed

[2016-10-02 00:30] #72 closed

[2016-10-14 11:54] lgordey commented on #71
@Jbarget @ricobl Hi all!
Is this issue in work or just waiting for PR?

[2016-10-14 16:55] vierno opened #79 "Atomic block remove button merging block data with the previous block"
When the delete icon is clicked, the block metadata is merged with another block, not excluded.

[2016-10-14 21:26] marcelometal commented on #79
Pull request #80

[2016-10-17 16:06] johannchen opened #81 "link youtube video"
The youtube video does not show up after I inserted the link of the youtube video. Is it a bug?

[2016-10-17 16:17] johannchen opened #82 "Images are still editable with readOnly=true"
picture is still in editable mode even when the prop readOnly is set to true. Also the size adjustment dropdown for picture does nothing.

[2016-10-17 17:03] marcelometal commented on #81
Hi @johannchen,

It is not a bug, this component only accepts real video link (mp4, ogv, etc), like:
http://techslides.com/demos/sample-videos/small.ogv

[2016-10-17 17:03] #81 closed

[2016-10-17 17:16] johannchen commented on #81
Thanks for the explanation.  Will megadraft plan to link youtube video directly to the editor?

[2016-10-17 18:02] marcelometal commented on #81
Not now... But you can create it, there's a [Megadraft Yeoman generator](https://github.com/globocom/generator-megadraft-plugin)

[2016-10-17 19:56] #79 closed

[2016-10-17 23:51] ricobl commented on #71
Hey @lgordey, sorry for the delay...

I don't know about @Jbarget, but our people at @globocom is not working on this.

I did a little experiment [on this branch](https://github.com/globocom/megadraft/tree/poc-draftjs-plugins) trying to integrate with `draft-js-plugins`, looks like it works but there are some design decisions needed to go forward with this.

The integration would probably allow th

[2016-10-18 00:08] ricobl commented on #82
Hey @johannchen, I think you're right about the `readOnly` property, thanks for pointing that out, I'll change the issue title to better reflect this ok?

About the dropdown... it just changes the `display` property of the image block, but not the editor appearance. One could save this data and use this option to change how the image is displayed on the actual website or application.

[2016-10-19 13:18] macrozone commented on #82
on readOnly, the sidebar is also still visible

[2016-10-20 11:57] SeverS opened #85 "Hiding sidebar when selectedBlock is not empty"
Hello,

I think sidebar should be hidden when the selected block has text.
I can create a PR with this feature if it`s ok.

Thanks

[2016-10-20 13:56] ricobl commented on #85
Hello @SeverS! Thanks for the suggestion!

Please help me understand, what is the motivation behind your idea? A cleaner look or something else?

If I got it right, the user would have to create an empty line before inserting a new block from the sidebar. Is that correct? Is it worthy to add this extra step?

[2016-10-20 15:04] SeverS commented on #85
Hello @ricobl,

I have 2 main reasons for this:
1. You can`t actually insert a picture at the caret position (only if caret is at the beginning of a new line)
2. If you would prefer to open the sidebar horizontally (like in the attached image) you will end up messing with the design :)

![sidebar-over-text](https://cloud.githubusercontent.com/assets/5903809/19565443/883eb4e8-96ef-11e6-9a7c-aeb194b

[2016-10-20 16:51] ricobl commented on #85
Hey @SeverS!

About your reasons:

1. you're right, you can't insert a picture at the caret position. The idea is that you can float an image left or right on the actual website using a separate image block.
2. maybe you could create a PR adding the ability to pass a different component for the sidebar, and then you can write your own. This way both behaviors would be possible. Something like this

[2016-10-20 17:23] SeverS commented on #85
@ricobl Cool, that`s better actually.
I`ll create a PR over the weekend.
Thanks :D

[2016-10-20 18:09] ricobl commented on #85
Awesome @SeverS! That would be great.

I'm closing the issue for now ok?

[2016-10-20 18:09] #85 closed

[2016-10-25 19:22] macrozone opened #86 "plugins should receive readOnly"
Plugins should receive readOnly of the parent editor.

With this, you could easily use the editor to render the result and change the appearance of the plugin's component.

E.g. an image could show a form on readOnly=false and render just as an `<img />` tag on readOnly

[2016-10-25 19:54] macrozone commented on #86
ok, i tried that out, but there is problem:

MediaWrapper does set readonly to true when it gains focus, so this will destroy this idea.

So i'll take a different approach...

[2016-10-26 12:21] ricobl commented on #86
You're right @macrozone, this is somehow related to #82.

We should have a way to differentiate the original `readOnly` from the `readOnly` managed by `MediaWrapper`.

Please let us know if you need help.

[2016-10-26 13:48] magician11 opened #88 "Using a rich text editor on mobile."
We're looking to add a draftjs implementation to our web app. We notice the native toolbar on devices (with copy, paste) really gets in the way a lot. Including with your implementation here.

![realios_iphone_6s_plus](https://cloud.githubusercontent.com/assets/3735849/19728304/1a225a50-9bbd-11e6-888b-02b05f0b9396.jpg)

Thoughts? Experiences?

[2016-10-26 14:05] ricobl commented on #88
Hey @magician11! We haven't put much effort into making Megadraft work on mobile devices.

Even if we fix the toolbar, the overall experience needs to be revised to provide a good experience on a small screen.

Do you have any ideas?

[2016-10-26 14:15] magician11 commented on #88
Well the first obvious idea was to just use a fixed toolbar. But even that can be an issue...

![screenshot_20161026-200824](https://cloud.githubusercontent.com/assets/3735849/19729133/18648776-9bc0-11e6-9380-a306137d6060.png)

I had a look at medium.com and [they require users to use the desktop or their native app](https://help.medium.com/hc/en-us/articles/216408258-How-do-I-write-). With a nati

[2016-10-26 14:57] ricobl commented on #88
Looks like you did a good research, thanks for sharing!

I saw the conversation on Slack, we have a `#megadraft` channel there...

We don't have plans to work on a mobile solution in the short term, but it could happen in the future.

For now, I'm closing the issue ok? Feel free to comment!

[2016-10-26 14:57] #88 closed

[2016-10-28 01:01] magician11 commented on #88
@ricobl We're thinking of still using the tooltip editor for desktop, but disabling it on mobile. Is there a way to disable this editor via some prop?

We could then still view the marked up content on small devices, but only use standard/native editing controls when on small screens. I'm thinking the logic to dictate when the tooltip editor is disabled will be handled by the parent container app.

[2016-10-28 11:28] ricobl commented on #88
Hey @magician11!

Currently there's no way of doing that, but I believe it wouldn't be hard to implement.

A [recent PR](https://github.com/globocom/megadraft/pull/87) introduced the ability to use a custom sidebar component, I believe that a similar approach for the `Toolbar` would be neat.

How do you feel about giving it a try?

[2016-10-29 07:54] magician11 commented on #88
Hi @ricobl

Wouldn't it just be a matter of changing [this line](https://github.com/globocom/megadraft/blob/master/src/components/Toolbar.js#L155) to something like..

[code]

?

[2016-10-29 16:40] JulianMayorga commented on #62
You can customize the toolbar? That's great! I'll document that functionality and open a PR. Tell me if you want me to change anything.

[2016-10-31 12:27] ricobl commented on #88
The flag seems to solve the issue at hand, but having something like a renderer function would give us a lot more flexibility.

[2016-10-31 14:44] macrozone commented on #86
what i currently do is the following:

[code]

so my plugin-definitions are all functions that return the plugin-definition based on whether the editor is in "editmode" (isEditing = true) or not.

I then built a small plugin system on top of megadraft's system (it uses a schema-based dialog built with https://github.com/vazco/uniforms/)

[code]

[2016-10-31 15:24] macrozone opened #90 "sidebar does not receive readOnly in 0.4.0"
property readOnly was not taken into account for the sidebar in this commit: https://github.com/globocom/megadraft/commit/6dba14c319159ba55626fc481749cd2f96236fbe

Sidebar therefore is always visible, even in readOnly mode

[2016-10-31 17:14] ricobl commented on #90
Thanks for catching that @macrozone!

I've just released the fix on `0.4.1`.

[2016-10-31 17:14] #90 closed

[2016-11-01 12:06] ricobl commented on #86
Hey @macrozone! A very clean approach, great job!

It seems that for most people using the editor is the preferred way to render the "final" content. So maybe having a preview mode like yours could come in handy and could be better than using `readOnly` for the preview mode. Read-only and preview have different semantics.

On the other hand, we don't use the actual editor for this, instead we seri

[2016-11-02 04:52] eujc21 opened #91 "Multiple editors cause overlap of toolbar."
**Issue:** When rendering multiple editors in a component, the tool bar overlaps when editing.

**Replicate Issue:** Render two MegaDrafEditor components in one layout:
[code]
![pasted image at 2016_11_01 09_12 pm](https://cloud.githubusercontent.com/assets/973157/19916993/848393aa-a095-11e6-91c7-6d51bcf1d6a5.png)

[2016-11-02 09:14] macrozone commented on #86
@ricobl :

Having the same logic rendering the final component as the editor has benefits (first: simplicity). You could also use react to render the component on the server side. The dom-tree is a bit bloated at the moment, but that could be handled. "Performance last".

Implementing a different react-component to render the editor-state should not be too hard, but why implementing the wheel twic

[2016-11-02 09:22] macrozone opened #92 "can't remove empty line between two plugins"
ways to reproduce:

- goto http://globocom.github.io/megadraft/
- add another image right after the first

you will see an empty line between the two plugins. setting the cursor there and hitting backspace will remove the previous plugin. You can't get rid of this line without deleting the inserted plugin

[2016-11-02 15:35] madshargreave opened #93 "Exporting to HTML"
Hi

Has anyone had success with exporting the generated JSON to HTML?

I've tried the draft-js-import-html project, but it fails with the error

Uncaught Error: Unknown DraftEntity key.

[2016-11-03 12:15] vierno commented on #93
Hi,

We have a Python based backend, we are using this project to render some of our html: https://github.com/springload/draftjs_exporter

Never tried draft-js-import-html, though.

[2016-11-03 12:32] vierno commented on #92
Hello,

We can't get rid of this empty line right now, if it's deleted, it would become impossible to insert anything between the two plugins.
We could remove it once we have drag and drop available.

[2016-11-03 17:53] ricobl commented on #86
Hey @macrozone,

Sorry for the delay, I had to put a little more thought into it before answering.

You have a good point, but I'm not sure this a responsibility the editor should have.

If we embrace the preview mode, plugin authors will be forced to maintain the
HTML version of the plugin and from my experience the default output will
never be enough, people will always ask for an extra class, a

[2016-11-14 16:30] macrozone commented on #92
Do you have any idea for a workaround? Problem seems that the cursor "jumps" over the component. Is it possible to somehow force it exactly before the plugin?

[2016-11-14 20:46] macrozone opened #97 "Editor will disable "readOnly" when a plugin receives "focus""
If the editor has `readOnly=true`, it can switch to `readOnly=false` when a plugin receives focus and you click afterwards somewhere in the editor.

E.g. if a plugin has a button or a link you can tab into the plugin to this button and then click on normal editor text.

I think if `<MegadraftEditor />` has `readOnly=true`, it should never set its state.readOnly to false.

what you think?

[2016-11-15 09:42] macrozone opened #98 "Click on Link in Toolbar should allow to update the url"
If you have selected a link and click on the link-button (or any custom entity-input), it will remove the link/entity.

It would be more flexible if you could edit the entity when clicking on the button and e.g. change the url. There, we could have a "remove" button that removes the entity.

I'll do eventually a PR for that, if there is no objection.

[2016-11-16 12:34] ricobl commented on #98
Hey @macrozone! There's no objection at all.

We have a slightly different experience planned for removing / editing entities, somewhat similar to Google Drive. I'll post the layout here as soon as I get it from our designer.

[2016-11-16 12:51] macrozone commented on #98
Hi @ricobl ,

Can you check if the api is ok for you that i created in the PR?
Basically the entity-input, e.g LinkInput receives a function to remove the entity. This is easy to implement with custom entities and also with custom toolbar. Of cource you can also call removeEntity from the toolbar itself, e.g. if you want to display two buttons, when a certain entity is active on the current select

[2016-11-16 12:56] vierno commented on #92
I think we have no good workaround atm.
We should be able to implement a "focused" state in the atomic blocks (#27), so by pressing enter we could insert a line before/after it and the cursor would not be jumping anymore, but it seems that it's not a simple implementation.

[2016-11-16 13:43] ricobl commented on #98
The api is looking good to me @macrozone!

Here is the layout for the link editing flow:

![link-editing-flow](https://cloud.githubusercontent.com/assets/134148/20349082/e74be13a-abef-11e6-81a5-ec855775cd80.png)

And the possible states explained:

1. text selection shows toolbar and the user can click the link button to show the URL input
2. the user can enter the URL or cancel either by pressing

[2016-11-17 19:16] ricobl commented on #93
Hey @madshargreave!

A little bit late but you can try to find tools here:

https://github.com/nikgraf/awesome-draft-js#common-utilities

I'm closing the issue ok? Feel free to comment!

[2016-11-17 19:16] #93 closed

[2016-11-17 19:21] ricobl commented on #62
Forgot to close the issue, thanks again @JulianMayorga!

[2016-11-17 19:21] #62 closed

[2016-11-17 19:22] #39 closed

[2016-11-30 20:36] DavidRayPatterson opened #105 "Anchored toolbar option?"
Is there any way to have the toolbar anchored to the top of the editor (or wherever) rather than just inline?  I wasn't able to find anything about it in the documentation so I suspect this isn't an option.

[2016-12-05 12:34] vierno commented on #105
Hello @DavidRayPatterson,  we don't have that option, I believe you would need to overwrite the toolbar to achieve that.

[2016-12-06 16:08] #105 closed

[2016-12-15 08:20] kozhuhds opened #111 "Toolbar appears in the middle when selecting character on the edge"
Toolbar appears in the middle when selecting character on the edge http://take.ms/kPJDf

[2016-12-15 12:30] marcelometal commented on #111
Hi @kozhuhds, For me the selection works fine in Firefox and does not work in Chrome.  What browser you are using?

[2016-12-15 12:38] kozhuhds commented on #111
hi, @marcelometal, I use Chrome. yeah it works properly in FF.

[2016-12-15 13:14] marcelometal commented on #98
feature implemented, so I'm closing this issue.

[2016-12-15 13:14] #98 closed

[2016-12-20 14:26] leanazulyoro opened #115 "Allow to change mutability for custom entities"
The setEntity method in the Toolbar component has harcoded "MUTABLE" for the Entity.create() statement, It would be nice if we could pass the desired mutability value as a parameter.

[2016-12-20 15:56] leanazulyoro commented on #115
I created a pull request with this change: https://github.com/globocom/megadraft/pull/116

[2016-12-21 04:46] hiepthai opened #118 "How to render display options correctly?"
The display options of plugin seem not to work? Am I missing something?

Should I override the `blockStyleFn` of the Editor?

[2016-12-21 12:34] marcelometal commented on #118
Hi @hiepthai,

You should not override the blockStyleFn... Did you create your plugin with Megadraft generator?

The `src/plugin.js` seems this:

[code]

For example, in `src/Block.js` you can access the `options` this way:
`this.props.blockProps.plugin.options;`

I know, we need some documentation about it.

If you have any doubts please let me know.

[2016-12-22 06:32] hiepthai commented on #118
I found the way to access block options data with `this.props.data.display`. I can handle selected option and render it correctly now.

The demo and document also need to have some lines about this.

[2016-12-27 15:34] Tbutnyakov commented on #82
Hello!
There are some news on this issue?

[2016-12-29 18:21] tizzle opened #119 "Problem rendering a custom Toolbar"
I'm using Megadraft 0.4.9 from NPM and ran into an issue trying to render a custom toolbar. I tried it as suggested in the Docs:

This is how i define the toolbar
[code]

This is how a pass it to Megadraft:

[code]

But the custom toolbar i imported is not rendered, instead i get the default toolbar.
Can you help me with this?

Thanks!

[2017-01-03 19:10] vierno commented on #119
Hello, @tizzle, how are you importing your customToolbar, if you insert a breakpoint, is your toolbar being used as a prop to MegadraftEditor? I've had a similar issue when I was doing a wrong import.

[2017-01-03 19:22] #115 closed

[2017-01-03 20:02] tizzle commented on #119
Hey @vierno,

thanks for getting back!

Unfortunately i let go of the idea to use a customized toolbar and did some incredibly hacky css to frankenstein the default toolbar. That's why i can't try out your suggestion right now.
I'm pretty sure i imported the toolbar like this:

[code]

The contents of default-toolbar.jsx are the first codeblock in my original post.

If you're not sure straightaway

[2017-01-03 21:19] vierno commented on #119
Hello @tizzle , I couldn't reproduce this problem, I did a copy and paste of your code into our example ant it worked fine... If you could set an example it will surely help us.

[2017-01-11 20:32] makeitrein opened #123 "Possible to add customStyleMap property for MegadraftEditor?"
Hey globocom - many thx for a great draft-js implementation... making my boss a very happy camper right now. I'd like to add the customStyleMap property to the PluginsEditor, as such...

` <Editor customStyleMap={this.props.customStyleMap} ...`

so I can implement my own customStyleMap (below)...
`const styleMap = {
    red: {
        color: 'rgb(235, 20, 76)',
    },
    orange: {
        color:

[2017-01-11 22:47] makeitrein commented on #111
Probably related to this... https://github.com/facebook/draft-js/pull/876

[2017-01-13 19:38] makeitrein commented on #71
https://github.com/vacenz/last-draft (based heavily on Megadraft) has some cool drag-and-drop functionality, worth checking out for those who want to add the functionality

[2017-01-14 00:01] makeitrein opened #124 "Custom Entity Documentation Missing From Website"
Just discovered this very helpful page - https://github.com/globocom/megadraft/blob/a07338fa5d2d975f646dfd127505d1278024298b/docs/custom_entities.md - I believe it's missing from http://megadraft.io/ website, would be great to add!

[2017-01-17 17:06] vierno commented on #123
Hello @makeitrein I think it would be a nice addition to Megadraft, you can make a PR =)

[2017-01-17 17:16] vierno commented on #124
Thanks @makeitrein , I added a link to this doc on the website.

[2017-01-17 17:16] #124 closed

[2017-01-18 09:32] gaku-sei opened #125 "Support `handlePastedText` and other Editor Component props"
It would be nice to handle `handlePastedText` and all other Editor Component props so we could write :

[code]

[2017-01-25 12:44] gaku-sei commented on #125
#126 merged, closing the issue

[2017-01-25 12:44] #125 closed

[2017-01-26 18:27] vierno commented on #123
Issue was solved by #126

[2017-01-26 18:27] #123 closed

[2017-02-15 17:26] mdarcemont opened #131 "Need help to create a "text alignment" functionality"
Hi,

I want to add a the ability to align the text in the editor.

With vanilla draft-js, here is what I would do :

1) Add elements in the block render map
[code]
and pass it to the editor
`blockRenderMap={extendedBlockRenderMap}`

2) Write a custom "blockStyleFn"
[code]

But Megadraft prevent the overriding of blockStyleFn. I can only override the blockRenderMap.

So, how could I do this ? With

[2017-02-16 10:35] mdarcemont commented on #131
Hi,

I've made something on my fork :
https://github.com/mdarcemont/megadraft/commit/f4b0ed9d3614789e8265224853d50dca7ceda7b1

Basically, you just have to provide an array that contains the new block definitions :
[code]
and pass it to the editor :
`blockStyles={blockStyles}`

Then this array is used to generate the blockStylesFn and the blockRenderMap.

I don't know if it suits to your vision of

[2017-02-20 18:44] vierno commented on #131
Hello, @mdarcemont ,

I think it would be a nice feature to have, feel free to open a PR.

[2017-02-27 20:09] cameacke commented on #97
+1, this is a big problem for me, might be a deal breaker for me using this tool as much as I like it.

I'm going to experiment with specialized "readonly plugins" which are going to be versions of the normal plugins that have hardcoded readonly fields.

[2017-02-27 21:54] cameacke commented on #97
This probably has something to do with the code here:https://github.com/globocom/megadraft/blob/master/src/components/MediaWrapper.js

Is onBlur not being invoked properly?

[2017-03-02 11:51] sevikon opened #133 "Link Button doesn't work"
Hi guys,
it seems that from version 0.4.14 it's impossible to create link with link button.
Probably current state is undefined.

![bug_stack_2](https://cloud.githubusercontent.com/assets/6122467/23505957/2043f2da-ff46-11e6-8ff0-bcd6cabc668e.png)

![bug_stack](https://cloud.githubusercontent.com/assets/6122467/23505958/205d2dea-ff46-11e6-88ae-85dddf49e4cd.png)

For 0.4.13 everything works fine.
Ar

[2017-03-02 12:25] marcelometal commented on #133
Hi @sevikon, for each commit in master, the demo website is updated.

Please, could you use the latest version of Megadraft, 0.4.16?

Cheers!

[2017-03-02 13:11] sevikon commented on #133
Hi @marcelometal
I tested it. The same problem.
It could be caused by draft-js@0.10.0, because 0.4.13 version uses draft-js@0.9.1 and I don't get any exception.
I thought that is global problem. But if you running latest version on demo and it works I can you use previous version. No problem :) You can close issue.

[2017-03-02 13:42] marcelometal commented on #133
ok! if there is any problem please let me know.

Thank you.

[2017-03-02 13:42] #133 closed

[2017-03-02 16:37] gaku-sei opened #134 "Lists are nuts"
There are several problem with lists and soft returns.

1 It's impossible to perform more than one soft return per list item
2 Once a soft return has been done, it's impossible to soft return in a list item anymore
3 Once the bugs above have been triggered, to type "up" from a bottom list item will move the cursor to a random list item above

![megadraft](https://cloud.githubusercontent.com/assets

[2017-03-02 17:11] vierno commented on #134
Hello @gaku-sei,

Points 1 and 2 are the desired behavior that we wanted for Megadraft, we ensure that no double soft-return can be made on the text blocks as they have no semantic meaning. We could have the option to disable this behavior if it's needed. We are always open for pull requests.

For point 3, I believe that it is how draft-js works, the navigation "jumps" over some empty blocks, I co

[2017-03-03 08:43] gaku-sei commented on #134
@vierno thank you for your answer.

Thanks for your explanations on points 1 and 2, the problem is I need to be able to perform n soft-returns for the tool I'm working on, so, is there any way to change this behaviour (ideally, without forking the whole project) ?

I forgot to mention the fact that soft-returns are not possible at all in some list items (you may notice it in the video).

For point

[2017-03-03 13:45] vierno commented on #134
Currently there is no way to prevent this behavior, we could have this as a Editor component option.

The arrow navigation is not handled by Megadraft, we need to look at draft-js to see if there's something we could do about the it.

[2017-03-03 17:38] cameacke commented on #134
This would be a pretty simple fix yes? Just need to change
https://github.com/globocom/megadraft/blob/master/src/components/MegadraftEditor.js
` handleReturn={this.handleReturn}`
to
`handleReturn={this.props.handleReturn || this.handleReturn}`

[2017-03-07 10:22] jimojon opened #136 "Crash when passing an empty blocks array to editorStateFromRaw"
I have an error when I try to initiate an editor state as shown here :
http://megadraft.io/#/docs/saving-loading

`const editorState = editorStateFromRaw({"entityMap": {}, "blocks": []});`

    at Function.createWithContent (EditorState.js:56)
    at editorStateFromRaw (utils.js:39)
    at new App (App.js:22)
    at ReactCompositeComponent.js:295
    at measureLifeCyclePerf (ReactCompositeComponen

[2017-03-07 14:28] vierno commented on #134
Hello @cameackeSEL,

I made the change you proposed and released it, you can check it on v0.4.18.

[2017-03-07 21:20] ricobl opened #137 "Document props received by `blockComponent`"
Here is the source:

https://github.com/globocom/megadraft/blob/8606764bd2d1fb85cdc4b3fe9505f16fe7151442/src/components/Media.js#L73

[2017-03-07 21:30] ricobl commented on #97
Thanks for the fix @cameackeSEL! Great job!

It's released under the `0.4.18` version.

We're lacking docs about `blockComponent` props, I've created an issue for this: #137.

[2017-03-07 21:30] #97 closed

[2017-03-07 21:30] ricobl commented on #86
Thanks for the fix @cameackeSEL! Great job!

It's released under the `0.4.18` version.

We're lacking docs about `blockComponent` props, I've created an issue for this: #137.

[2017-03-07 21:30] #86 closed

[2017-03-08 10:41] pex opened #138 "Strange behaviour when changing image size"
I am using the standard image plugin from examples.
When changing image dimensions, surrounding blocks adapt a really strange behaviour when editing (see video).

### How to Reproduce:

1. Go to [megadraft.io](http://megadraft.io/)
2. Change dimensions of attached image
3. Start editing the block above
4. Press `Enter`
5. Continue editing the same block
6. The newly created block magically fills u

[2017-03-08 15:01] farzinshams opened #139 "resetStyleNewLine prop not working"
I'm not sure if I understood the purpose of this prop correctly, but shouldn't a newline reset the style on the next paragraph?

![screen shot 2017-03-08 at 11 58 59 am](https://cloud.githubusercontent.com/assets/8161916/23709005/badb3678-03f6-11e7-8e86-d6218551593d.png)

[2017-03-08 16:43] marcelometal commented on #136
I have fixed the "saving & loading" doc

[2017-03-08 16:57] petry commented on #139
Hi @farzinshams ,

Megadraft only resets the style when you create a new blank paragraph, if you split a sentence in two, Megadraft will mantain the style.

Maybe we need to make this point clear on Docs!

[2017-03-08 17:37] ricobl commented on #139
Hey @farzinshams!

As @petry mentioned, the style will only be reset when the cursor is at the end of the line. Is that your case?

Can you reproduce the problem on our [demo website](http://megadraft.io/#/?_k=izo8e3)? It worked for me.

Can you post a snippet of your code so we can investigate a little bit further?

[2017-03-08 17:53] marcelometal commented on #138
Hi @pex, thanks for reporting.

We can confirm that this a bug, we will try to fix it as soon as we can, but in the meantime feel free to submit a pull-request if you are in a hurry, we will be glad to review your code.

[2017-03-09 01:38] cameackeSEL opened #140 "Need to opt out of MediaWrapper managing readonly state of editor"
Request Type:
Feature (but kind of a bug)

Expected:
If I have a plugin/custom block type that manages readonly state of the parent editor (per Draft JS recommended practice), Megadraft components will not interfere with my control of readonly.

Actual:
MediaWrapper will set editor readonly to true onFocus and false onBlur. This means if the user clicks on or interacts with a component that cannot

[2017-03-09 17:05] cameackeSEL commented on #140
Worked with @rocobl, he recommended that I use stopPropagation to resolve the issue.

I put these on my container elements

`onFocus={e => e.stopPropagation()}
onBlur={e => e.stopPropagation()}`

and it prevented media wrapper from calling its focus and blur methods.

[2017-03-09 17:05] #140 closed

[2017-03-09 17:24] ricobl commented on #140
Awesome @cameackeSEL, I'm glad that it worked!

[2017-03-09 17:56] vierno opened #141 "Integrate Megadraft with draft-js-plugins"
We would like to use plugins from [draft-js-plugins](https://github.com/draft-js-plugins/draft-js-plugins) on Megadraft Editor.

One of the ways to do this is to move parts of Megadraft to a draft-js-plugin. Also, we need to give Megadraft plugins a new name, we could call those `atomicBlocks`.

We will continue exporting `MegadraftEditor` as a component. To do so, all the editor methods and utils

[2017-03-10 17:58] farzinshams commented on #139
@ricobl @petry I didn't split the sentence in two. My actions were as follows: 1) Write 'first paragraph with style', 2) Select text and change it to bold, 3) Hit enter, 4) Write 'next paragraph, still with style'.

Interestingly, I couldn't reproduce the problem in your demo website, but I could reproduce it in a cloned example provided in https://github.com/globocom/megadraft#developing

On the

[2017-03-10 18:43] vierno commented on #139
Hello @farzinshams,
Is your clone update with megadraft's master? This is a new feature introduced recently.
If it is update, could you check the value of the resetStyleNewLine prop locally?

[2017-03-10 18:45] marcelometal commented on #139
@farzinshams, did you see the [documentation](http://megadraft.io/#/docs/customization?_k=vou968)? You should set this prop to `true`, default is `false`.

[2017-03-10 23:57] farzinshams commented on #139
@vierno Sorry, my bad, it wasn't up to date with master.

[2017-03-11 00:03] #139 closed

[2017-03-14 21:46] stev3reed opened #143 "Toolbar gets cut off when selecting characters toward the edge"
![image](https://cloud.githubusercontent.com/assets/7061659/23923631/5afe1642-08d5-11e7-9823-3c8563994759.png)

I saw some issues related to toolbar positioning and edge characters, but is this a known issue as well? If I select a character or word on the very edge, the toolbar will appear in the middle but only if it isn't the first character or word of a first line. If it is the first line, it w

[2017-03-15 10:26] geng890518 opened #144 "megadraft leads to 'Server-side React render was discarded. Make sure that your initial render does not contain any client-side code.'"
![image](https://cloud.githubusercontent.com/assets/19452264/23944146/c9d25600-09ac-11e7-9fdf-62137b452cfe.png)
 anyone met this problem?

[2017-03-17 18:37] cameackeSEL commented on #144
Could you provide a code snippet that reproduces the issue?

[2017-03-17 18:55] cameackeSEL commented on #143
Same as this right? https://github.com/globocom/megadraft/issues/111

[2017-03-17 18:59] stev3reed commented on #143
I saw that one but it isn’t the same. That one mentions the toolbar appearing in the middle, whereas my issue deals with the toolbar actually appearing off-screen. They both live in the ballpark of positioning wonkiness though.

a, pre, code, a:link, body { word-wrap: break-word !important; }

[2017-03-17 19:01] cameackeSEL commented on #143
@stev3reed yeah that was my bad, I didn't check the screenshot

[2017-03-17 22:13] vierno commented on #144
Hello @geng890518, what are the versions of Megadraft and React that you are using?

[2017-03-20 03:17] geng890518 commented on #144
@vierno My React version is 15.4.2 and my Megadraft version is 0.4.19,thanks!

[2017-03-20 03:23] geng890518 commented on #144
@cameackeSEL I'm learnintg to use it. It's my codes.

import React, { Component } from 'react';
// import ReactDOM from 'react-dom';
import {MegadraftEditor, editorStateToJSON, editorStateFromRaw} from 'megadraft';

export default class editor extends Component {
  constructor(props) {
    super(props);
    this.state = {
      editorState: editorStateFromRaw(null),
      cliennt: false
    };

[2017-03-20 21:23] cameackeSEL commented on #144
The only thing that really jumps out at me is the require for the css in the render(). Can you move that to the top of the page and see what happens?

[2017-03-21 00:48] ryuheiyokokawa commented on #91
Bump.  I'm having the same issue.

[2017-03-22 08:32] geng890518 commented on #144
@cameackeSEL Cool! It's OK now ,Thanks!

[2017-03-22 08:34] #144 closed

[2017-03-22 13:16] StevenIseki commented on #143
Just a note, I got around this in Last Draft which uses Megadraft's toolbar by having a `maxLeftOffset` prop which I passed through to `getSelectionCoords`

[2017-03-22 13:24] stev3reed commented on #143
Awesome, thanks @StevenIseki we will give that a shot.

[2017-03-23 17:06] ricobl commented on #136
Hey @jimojon! Looks like this is a DraftJS problem, I'm closing the issue ok?

[2017-03-23 17:06] #136 closed

[2017-03-30 13:10] ricobl commented on #91
Hey @eujc21 and @ryuheiyokokawa!

I've created the [multiple-editors-test branch](https://github.com/globocom/megadraft/tree/multiple-editors-test) with a second editor on the demo page and wrote a fix for both the sidebar and the toolbar.

Looks like it's working but I didn't have the time to write tests.

If anyone wants to help, the branch is a starting point.

[2017-03-30 16:28] ryuheiyokokawa commented on #91
@ricobl Thanks for that!  I'll try it out later today.

[2017-03-31 03:42] StevenIseki commented on #141
Hey @vierno I have done some work on this over in the following repo https://github.com/vacenz/megadraft-js-plugins

These new plugins are modified mainly from draft-js-plugins and aim to emulate the toolbar and sidebar from Megadraft as well as adding gif, embed, emoji picker and color plugins.

My thoughts are that this could be a basis for a new major version of Megadraft using Draft-js-plugins

[2017-04-06 11:46] remy-poirier opened #147 "Question : Can we use this library if we work with HTML"
Hello,

I'm looking for a good draftjs component to integrate into my project and Megadraft seems to be the ultimate solution. For now I was using the one on the DraftJS website, which is cool, but miss some features.

Just to explain, in my application, I let the user choose if in it's description he wants to type pure HTML (via a specific HTML editor), or if he wants to type its content in "simp

[2017-04-06 13:16] ricobl commented on #147
Hi @remy-poirier!

It's certainly possible but Megadraft doesn't have this functionality built-in, you will probably do this conversion on your own.

There are libraries that can help you with this, here is a good place to start your search:

https://github.com/nikgraf/awesome-draft-js#common-utilities

I'm closing the issue ok? Feel free to comment if you need more info!

Also, you can try asking

[2017-04-06 13:16] #147 closed

[2017-04-07 19:51] mateuspontes commented on #138
@ricobl @vierno @marcelometal I need some help on how to test this behaviour.

[2017-04-17 15:51] chachra commented on #71
It would be nice to be able to drag/drop/re-order any component in the editor, including text blocks?

[2017-04-17 15:52] chachra opened #149 "Deleting newline deletes the component above"
See for example https://www.evernote.com/l/AAUG4GtrbOdNBr8RKnqX7bQ6OCECfWGJxw0 - where the "+" icon is it deletes the component  with testing word in it above. It should simple delete the line and if delete is pressed again then delete the above component.

Let me know if I am thinking wrong. Thanks!

[2017-04-17 16:47] ricobl commented on #71
It would be great to have that feature @chachra! Do you have something in mind? Would you like to submit a pull request?

[2017-04-17 16:51] chachra commented on #71
I do have something in mind. I am a bit confused between this project, draft.js (what it builds on), draft plugins and slate ( https://github.com/ianstormtaylor/slate ) - was on hacker news yesterday.

So it might take me some time till I get my head around.

I really like how Wagtail (Django CMS) did StreamField. Basically rather than one large WYSIWYG editor where its easy to get things messed u

[2017-04-17 17:50] ricobl commented on #141
Hi @StevenIseki, thanks for giving a shot at this and sorry for the long delay...

I think we want to go in a different direction. We need to support the current Megadraft plugin system or at least make the transition smooth for our users.

Some work was done in the [draftjs-plugins-integration](https://github.com/globocom/megadraft/tree/draftjs-plugins-integration) branch but it's not complete, s

[2017-04-17 17:52] ricobl commented on #71
Hi @chachra!

I don't know about Wagtail's StreamField or about Slate but I can try to help you with the others.

DraftJS is a framework for building text editors, it has no user interface and no plugin system, only extension points.

Megadraft is built on top of DraftJS, adding the toolbars and a plugin system for atomic blocks.

And draft-js-plugins is a generic plugin system also built on top o

[2017-04-17 20:00] ricobl commented on #149
Hey @chachra! This behavior is currently handled by DraftJS, it's not customized by Megadraft.

I wouldn't call this "wrong" but it is somehow desired, if the line gets removed it would be impossible to insert content between those blocks as we don't have drag-and-drop yet.

[2017-04-17 20:25] chachra commented on #149
Hmm ok.... I'd have thought a "+" would insert content into any gap. This to my other issue replied to, I feel like what is your thought on a "document" being 100's of blocks of content / editors/  images/plugins etc. ? That way lines are only problem with WYSIWYG, but a document is more than text, its images, folders, external app references (github, google docs, youtube) etc.

Megadraft seems ma

[2017-04-17 20:25] chachra commented on #71
Thanks for background @ricobl - I u/s now. Slate is here: https://github.com/ianstormtaylor/slate

Doesn't seem as active or good looking out of the box as megadraft is...

[2017-04-17 21:15] ricobl commented on #71
Cool, thanks for sharing @chachra!

And thanks for the good looking! 👍

[2017-04-19 17:02] StuartFeldt commented on #118
Is this handled by #150?

[2017-04-20 12:58] ricobl commented on #118
Sure it is! Thanks @StuartFeldt!

[2017-04-20 12:58] #118 closed

[2017-04-20 17:02] ricobl commented on #149
Hi @chachra!

I'm not sure I got your question, maybe you can join us on our (Slack channel)[https://draftjs.herokuapp.com/] to continue this discussion.

I'm closing the issue ok?

[2017-04-20 17:02] #149 closed

[2017-04-20 20:11] StuartFeldt commented on #141
Is there a roadmap available (even if sparse) for how integration with draft-js-plugins is progressing? Or a high level overview of how this integration will be handled, if at all?

[2017-04-21 13:28] huitre commented on #143
@stev3reed I've made a PR to fix this issue : #152
Help me getting it merged : )

[2017-04-25 20:25] marcelometal commented on #138
Fixed in #155

[2017-04-25 20:25] #138 closed

[2017-04-27 21:17] ricobl commented on #141
Hey @StuartFeldt!

Even though this is a very desirable feature, there's no official schedule. I added a rough description of the required steps and the current status.

Please let us know if this helps!

[2017-05-12 15:45] CameronAckermanSEL opened #157 "Edge: Creating a Link from inline toolbar causes SCRIPT28: Out of stack space error"
**Environment:**
Microsoft Edge 38.14393.1066.0

**Expected Behavior:**
When creating links in megadraft via the inline toolbar, the toolbar is responsive and a link is created once the user submits a link.

**Observed:**
When clicking the link button in the toolbar, the web page will hang and eventually yield an error without opening the link input field.

![image](https://cloud.githubusercontent

[2017-05-12 15:46] CameronAckermanSEL commented on #157
This does not happen in IE.

[2017-05-30 20:35] chsisodiya opened #160 "editor not showing after importing megadraft.css file"
Editor not getting displayed after  importing megadraft.css. Under react tab in developer tool I can see all the tools are present but are invisible and right aligned.

[2017-06-03 00:24] ricobl commented on #160
Hey @chsisodiya!

Did you follow the [usage documentation](http://megadraft.io/#/docs/overview)?

There's probably something wrong with your setup, do you have it somewhere public?

[2017-06-03 03:47] chsisodiya commented on #160
yeah I followed it. Without including the megadraft.css file  editor is shown but properly formatted.
After including css file editor just disappeared. I will post the code soon.

[2017-06-03 03:49] chsisodiya commented on #160
I used the same code.. as mentioned in the document..below is snippet..

import React from "react";
import ReactDOM from "react-dom";
import {MegadraftEditor, editorStateFromRaw} from "megadraft";

**require('megadraft/dist/css/megadraft.css');**

class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {editorState: editorStateFromRaw(null)};
    **this.onChan

[2017-06-05 13:15] ricobl commented on #160
Looks like there are a few things missing in your code. You forgot to return something on `App.render` and forgot to pass your App to `ReactDOM.render`.

I'm closing the issue ok? Feel free to ask for help on our Slack channel. Register [here](https://draftjs.herokuapp.com/) and join us [here](https://draftjs.slack.com/messages/megadraft/).

Anyway, here is a modified version that should work:

[c

[2017-06-05 13:15] #160 closed

[2017-06-14 22:02] sevikon opened #161 "Jumping Toolbar"
![image](https://user-images.githubusercontent.com/6122467/27154779-9ecbb004-5156-11e7-8a99-f978f2c4f0ec.png)
Hi guys,
it seems to be problem with toolbar when I click outside editor container (on FF and Chrome).
How to reproduce it (on FF, ver. 53.0.3):
1) Select some text -> toolbar is displayed
2) Click outside container
3) Toolbar jumps to random position

How to reproduce it (on Chrome, ver.

[2017-06-19 13:44] ricobl commented on #161
Hey @sevikon!

Thanks for reporting, I was able to reproduce these errors on my machine with the latest versions of Chrome (59.0) and Firefox (54.0).

Hiding the toolbar on blur is a bit tricky, when editing an entity the editor loses focus but the toolbar should stay visible:

![image](https://user-images.githubusercontent.com/134148/27287541-6e6acc06-54da-11e7-9233-55d440e3828d.png)

It could wo

[2017-07-05 16:01] remolueoend commented on #157
We noticed the same issue with Chrome (59.0.3071.115 and 60.0.3112.50 beta (64-Bit)), but not with Firefox.

What we observed so far:
`componentDidUpdate` of component [Toolbar](https://github.com/globocom/megadraft/blob/master/src/components/Toolbar.js) calls [`setBarPosition`](https://github.com/globocom/megadraft/blob/master/src/components/Toolbar.js#L105) to reposition the toolbar.
`setBarPosi

[2017-07-05 16:40] remolueoend commented on #161
Hey guys,

We observed probably the same `Maximum call stack size exceeded` issue. I already posted a comment on another issue: https://github.com/globocom/megadraft/issues/157#issuecomment-313147821

I'm working on a small PR but might be a little bit hacky due to our project deadlines (sorry in advance :3.

[2017-07-11 01:02] ryuheiyokokawa commented on #91
Took me forever (like a few months) to get to this, but i did test the code.  I pulled master (0.4.26) into the fork of this branch and things seem to be working well.  You can checkout my janky setup with my fork (https://github.com/ryuheiyokokawa/megadraft/tree/multiple-editors-test), but that's purely for me to be able to pull from NPM (hence took out a few gitignores, etc).  Thank you again fo

[2017-07-11 01:10] ryuheiyokokawa opened #164 "Nested Lists?"
Is it possible to do nested lists?  Is this an option (as in I'm stupid?) or does this not exist?
By nested lists, below is what I mean:

- Not nested
  - Nested

Thanks!

[2017-07-11 18:13] marcelometal commented on #164
Hi @ryuheiyokokawa,
this feature is not implemented in Megadraft, but [DraftJS support it](https://draftjs.org/docs/advanced-topics-nested-lists.html).

I think it would be a nice feature to have, feel free to open a PR. The initial point to start is the MegadraftEditor [onTab method](https://github.com/globocom/megadraft/blob/2bcf3f8828166ab77095ff80e04b62ea45bb7611/src/components/MegadraftEditor

[2017-07-11 19:46] andrewb commented on #64
@ricobl would you be interested in a PR to update to React 15.6, migrate to the prop-types library, etc?

[2017-07-13 02:27] petry commented on #64
Sure @andrewb ! it'll be a great addition to Megadraft! Feel free to open this PR to us!

[2017-07-14 10:33] rohitpal99 opened #166 "Draft JS on Andriod and iOS"
Hi all,
This is not a issue, I wanted to ask a query for knowledge.
I know that facebook uses draft js for its mentions? I wanted to know how draft js is used in android applications or iOS? or They don't use this on Andriod devices at all?

My use case is If I have a rich text content editor on web. How would I go with editing same content on iOS devices or andriod devices (should I use draft js

[2017-07-15 01:29] CraigLu opened #167 "Custom icons for custom entities"
I have been trying to use some custom icons for new entities that I am creating for the tooltip actions but I haven't been able to get the actions array to accept what I put in for the icon. Is there any requirements that need to be met for custom icons to be displayed properly?

[2017-08-09 00:30] #167 closed

[2017-08-09 12:41] ricobl commented on #167
Hey @CraigLu, the only requirement is that icons need to be a React component.

All built-in icons are SVGs converted to components. You should replace the `fill` attribute of `path` elements with `currentColor` to allow icons to inherit CSS colors (light gray as default, white on hover and blue when active).

Here is the delete icon for a reference:
https://github.com/globocom/megadraft/blob/mast

[2017-08-18 19:07] devonJS commented on #143
Hey all! I might be getting something similar to this, initially when I highlight  text on the left side, the arrow correctly positions itself to the left of the editor bubble:

![screen shot 2017-08-18 at 12 01 20 pm](https://user-images.githubusercontent.com/10638459/29473646-6624788c-840d-11e7-83f3-4ccfa24b2962.png)

However, when I toggle around the Bold and Italic, the editor gets moved so th

[2017-08-20 03:20] LyTranCong opened #168 "Adjust immutable dependency version to optimize bundle size"
<img width="688" alt="screen shot" src="https://user-images.githubusercontent.com/648415/29491796-ce79764c-8590-11e7-8c9d-6c1f72b1df03.png">

DraftJS 0.10.1 just use `"immutable": "~3.7.4"` while MegaDraft use `"immutable": "^3.8.1"`.

[2017-08-20 03:48] marcelometal commented on #168
Hi @LyTranCong,

Immutable [3.7.4](https://github.com/facebook/immutable-js/blob/3.7.4/dist/immutable.min.js) has **55.3 KB** and [3.8.1](https://github.com/facebook/immutable-js/blob/v3.8.1/dist/immutable.min.js) has **55.7KB**.
The difference is **0.4KB**, did you see that ?

[2017-08-20 04:50] LyTranCong commented on #168
Hi @marcelometal ,
If the version range is mismatch, npm will install both versions and webpack will include both in the bundle. In this case, 3.7.4 for DraftJS and 3.8.1 for MegaDraft!

[2017-08-20 23:48] marcelometal commented on #168
@LyTranCong,  Ah! Good point... Thank you!

[2017-08-21 21:58] #168 closed

[2017-09-01 18:49] lightninglu10 opened #170 "Pass Props to individual plugins"
Hey guys, is there anyway to pass props to plugins? Like I want to pass down a function to upload my image to s3 on an image upload plugin -- is there a way to do that?

[2017-09-11 19:43] sohai commented on #170
@lightninglu10 have you found any solution?

[2017-09-15 17:44] ericjrsilva commented on #170
You can write a proxy
[code]

[2017-09-15 17:59] lightninglu10 commented on #170
@sohai yeah I have a solution.

So the block for plugins get blockProps. So if you create a fx that passes down props from blockprops, it will work.

For example, this is my plugin:

[code]

And in my Megadraft wrapper, I have:

[code]

[2017-09-15 17:59] #170 closed

[2017-09-20 00:46] grex84 commented on #131
Anyone figure out a way to create a text alignment functionality. @mdarcemont I tried your method but it doesn't seem to be working for me.

[2017-09-20 00:50] CameronAckermanSEL commented on #131
@grex84 it seems to only work on his fork, did you try that?

[2017-09-20 02:12] grex84 commented on #131
i have, but is there any way to apply this to a parent div? This method seems to replace the header tag, if one has been applied to the same block.

[2017-09-28 06:07] CameronAckermanSEL opened #172 "Allow onTab to be overridden"
Megadraft suppresses any onTab handlers sent through props. This looks like its because the default tab behavior tabs out of draft and into other controls.

Please allow users of megadraft to override the default onTab behavior megadraft provides (e.preventDefault()).

[2017-10-03 23:25] ryanlegler opened #175 "Css scale transform causes incorrectly positioned tooltip"
If i add a css scale transform to a containing element of the megadraft component the tooltip will render incorrectly.

Example:
https://rich-text-ceiezbqwvc.now.sh

My guess is that this behavior is related to how how the tooltip measurements are being calculated.
Looks like getBoundingClientRect() is being used which will measure the position after the css transformation.
https://developer.mozil

[2017-10-04 00:12] CameronAckermanSEL commented on #172
#174

[2017-10-05 17:37] #172 closed

[2017-10-05 17:39] ricobl commented on #64
Closing this issue as it's really outdated.

[2017-10-05 17:39] #64 closed

[2017-10-05 17:44] ricobl commented on #91
Just as an update, #163 fixes the formatting toolbar overlap by hiding it on blur.

The sidebar is still a problem though...

[2017-10-05 17:52] ricobl commented on #166
Hey @rohitpal99!

I'm not sure how Facebook does mentions on mobile apps, maybe you can ask for advices on the [project page](https://github.com/facebook/draft-js) or on [DraftJS' Slack](https://draftjs.slack.com).

[2017-10-05 17:52] #166 closed

[2017-10-05 17:54] ricobl commented on #137
I think this is covered here: http://megadraft.io/#/docs/plugins

[2017-10-05 17:54] #137 closed

[2017-10-05 18:01] ricobl commented on #175
Hey @ryanlegler, I haven't heard about this problem before.

Looks like the example is down.

Do you have a solution in mind? Would you like to submit a PR?

[2017-10-05 18:03] ricobl commented on #164
Hey @ryuheiyokokawa, I'm closing the issue but please feel free to comment!

[2017-10-05 18:03] #164 closed

[2017-10-05 20:18] ricobl commented on #91
That was quick! Thanks to @dchristensen the fix for the sidebar is released under the `0.4.31` version.

[2017-10-05 20:18] #91 closed

[2017-10-10 12:00] BafS commented on #71
Any new for this feature ?

[2017-10-10 13:32] ricobl commented on #71
No news @BafS, would you like to give it a try and send a PR?

[2017-10-10 13:47] BafS commented on #71
I will see, for the moment I compare different options :)

[2017-10-20 03:20] ryanlegler commented on #175
@ricobl thanks for the response, yeah it's an interesting problem. I've been running into all sorts of issues like this when working in a css scaled context.

As far as a solution it looks like how other components are dealing with the issue is by allowing a scale prop to be passed in. The scale prop is then used to calculate all of the pixel coordinates used when placing the tooltip.

Here's an e

[2017-11-08 13:42] raphasilvac commented on #157
Hello guys,

first of all, sorry about my english.

As mentioned by @remolueoend, I observed that problem happens because sometimes toolbar component getting in looping,
(componentDidUpdate > setBarPosition > setState > componentDidUpdate > componentDidUpdate > setBarPosition...)

It's happening because there is a 14px difference bettewen `this.state.position.bottom` and `selectionCoords.offsetBot

[2017-11-09 23:58] joelmoss opened #179 "Plugin block not inserting!?"
I have created an image plugin to play and test with, and the Button appears and works, but the Block never gets inserted at all!

Here is my plugin code...

[code]

[code]

[code]

Any help would be appreciated. thx

[2017-11-10 17:10] k-zakhariy commented on #179
Have you inserted your plugin to MegadraftEditor component ?

[2017-11-10 17:12] joelmoss commented on #179
Yup, with `plugins={[imagePlugin]}`

[2017-11-10 19:31] k-zakhariy commented on #179
checkout this source code - https://github.com/globocom/megadraft-related-articles-plugin
good example how to write own plugins

[2017-11-11 13:54] joelmoss commented on #179
Yeah I have, but just tried to add that plugin without changes, and that does the same thing... the button shows up, but nothing happens after clicking it. So again, it's like the block is not working at all. No errors! No warnings! :(

[2017-11-11 14:25] joelmoss commented on #179
Ok, so I've found the cause, although I've not yet discovered the why :|

The block completely fails to render when using a `ref` on the editor...

[code]

Remove the `ref` attribute and all works great.

Any ideas why this would be?

[2017-11-23 12:50] joepio commented on #172
Since `event.preventDefault()` is called before the `onTab` prop event is called in [MegadraftEditor.js](https://github.com/globocom/megadraft/pull/174/files), using the tab key still does not work the way you'd expect it to work - even if you pass a custom event.

Shouldn't this:
[code]

Become this?
[code]

[2017-11-28 16:59] rafaelfragosom commented on #27
I'll do it.

[2017-11-29 12:35] #111 closed

[2018-01-03 10:12] lakano opened #182 "[question] Do you known if is there a self-hosted blog using megadraft?"
Hi,

Megadraft is awesome, thank you very much!
After some searches, I don't found any blog using megadraft.
This could be a serious advantage to choose a blog self-hosted platform.

Regards,

[2018-01-03 11:21] authoredniko commented on #182
Hi @lakano : www.authored.io are about to launch a self hosted blog platform built on draftJS :)

Would be happy to share more details if you're interested

N

[2018-01-03 11:50] lakano commented on #182
Thank you @authoredniko
I've registered to the alpha. You seems to be the developer of this project (because of your nickname), could you confirm we could download it to install it on our own server?
Regards,

[2018-01-12 08:56] eskimoblood opened #184 "Allow target blank in links"
Add the moment there is no way to make links open in a new tab. When the link is [created](https://github.com/globocom/megadraft/blob/master/src/entity_inputs/LinkInput.js#L40), only the url is set. Would it be possible to add at least a prop to make all links open in new tab, or even better to add the possibility to let the user set this when creating a link.

[2018-01-22 14:57] aslamplr opened #186 "Typescript type definition"
Is there any plan for adding typescript support? Forgive me if it is inappropriate to create an issue for this.

[2018-01-22 14:59] aslamplr commented on #186
Also, It's an awesome library.

[2018-01-25 12:00] CentaurWarchief commented on #184
@eskimoblood you may be able to achieve something like this by doing:
[code]

Then all you need to do is pass `stateWithDecorators` down to `<MegadraftEditor>`

[2018-01-26 00:12] andreyvital opened #187 "Bad rendering when attempting to remove a blockquote"
Hey guys, check this out:

![kapture-2018-01-25-at-22 01 08](https://user-images.githubusercontent.com/967317/35418839-e8ac9244-021b-11e8-877d-572d72e8d283.gif)

I haven't tried to debug it myself yet, but it seems to be a bad behavior. Steps to reproduce:

1. Head out to http://megadraft.io;
2. Clear all the content;
3. Type some bla bla bla bla bla, then Command + A (I'm using a Mac);
4. In the

[2018-02-01 12:53] macrozone opened #188 "can't edit anything in custom entity input"
I have a form as custom entity input. But i can't focus any textfield in it.

I am not sure when this feature broken. I try to investigate

[2018-02-01 15:59] macrozone opened #189 "hiding toolbar on blur interferes with entity-inputs like filepicker or similar"
this change break using filepickers in as entity-inputs:
https://github.com/globocom/megadraft/commit/523c05d8b501561a61f5dcd7950a3f2b0a371d80#diff-e007c62f341ba9b8108617f3d82d21c8L17

an input file will blur the whole window and also the editor and therefore will hide the toolbar.

It would be best to revert that change, as it does not really provide a better user experience.

[2018-02-01 16:08] macrozone opened #190 "refactor toolbar positioning"
The toolbar positioning uses an antipattern in react: it sets state in componentDidUpdate which can result in infinitive-loops (as it does in the current version, see https://github.com/globocom/megadraft/issues/157)

It would be better to avoid this, as it leads to a lot of bugs and confusion

[2018-02-01 16:39] macrozone commented on #184
see also docs https://github.com/globocom/megadraft/blob/master/docs/custom_entities.md

[2018-02-02 13:50] vierno commented on #187
I can confirm this, it's related to the styles of the blockquotes and placeholder.

[2018-02-20 16:47] Minivera opened #193 "Toolbar vertical positioning"
When using megadraft in a limited height window (Example, IFrame), the editor will often find itself with the first line being to far up to display the toolbar.

For example, this would happen if you scrolled too far up in megadraft.io

![2018-02-20 11_40_06-megadraft - draft js rich text editor](https://user-images.githubusercontent.com/20424444/36436721-169e77f0-1633-11e8-81d2-189c57756c0f.png)

[2018-03-02 18:08] #189 closed

[2018-03-02 19:14] marcelometal commented on #184
Hi @eskimoblood, If you have any further questions on this issue, please reopen it.

[2018-03-02 19:14] #184 closed

[2018-03-02 19:16] #134 closed

[2018-03-02 19:26] marcelometal commented on #27
Hi @rafaelfragosom, Any news on that?

[2018-03-02 19:37] vierno commented on #119
Closing due inactivity

[2018-03-02 19:37] #119 closed

[2018-03-02 20:30] rafaelfragosom commented on #27
@marcelometal 90% done. Sorry the delay.

[2018-03-02 20:34] vierno commented on #186
Thanks @aslamplr and sorry for the late response. It would be nice to have this support, but we don't have any plans on adding it on the near future. A pull request will be more than welcome.

[2018-03-02 20:46] #161 closed

[2018-03-02 20:57] marcelometal commented on #182
Hi @lakano, thank you!

I don't know any self-hosted blog using Megadraft. So, I'm closing this for now. If you have any further questions on this issue, please reopen it.

[2018-03-02 20:57] #182 closed

[2018-03-02 21:47] vierno commented on #193
Hello @Minivera, we generally solve this problem adding enough margins to the elements so there's enough space for the toolbar. We are going to break this behavior if we use the editor bounds to calculate if the toolbar should be rendered under the selection.

Somehow we need to check this and if the toolbar would be rendered outside of the document's visible area.

[2018-03-02 21:51] #188 closed

[2018-03-02 21:51] vierno commented on #188
Fixed #192 , please re-open if I'm wrong.

[2018-03-02 21:53] #131 closed

[2018-03-02 21:56] marcelometal commented on #179
No idea! =/

So, I'm closing this for now. If you have any further questions on this issue, please reopen it.

[2018-03-02 21:56] #179 closed

[2018-03-02 23:37] joelmoss commented on #179
Well considering this is a bug, I would suggest you keep this bug report open perhaps? 🤔

[2018-03-05 15:28] Minivera commented on #193
My specific case is a page builder inside an IFrame where the user is free to position the editor wherever he likes. This cause a big issue where the toolbar would very often be cut by the iframe's bounds and there is nothing I could do about it expect ask the user to add breaklines.

In the second screenshot, I fixed the issue by using this condition :

`offsetTop - minOffsetTop - toolbarHeight +

[2018-03-06 15:10] marcelometal commented on #179
@joelmoss for me, this is not a Megadraft bug...

I've created a new plugin using [Megadraft`s plugin generator](http://megadraft.io/#/docs/plugins) and replaced it with your code ([Block](https://github.com/marcelometal/my-image-plugin/blob/master/src/Block.js) and [Button](https://github.com/marcelometal/my-image-plugin/blob/master/src/Button.js)). I've also added the [ref prop in the MegadraftE

[2018-03-08 21:35] vierno commented on #193
I don't know how could we do a better check... I believe we can use the solution you proposed, could you please open a PR?

[2018-03-09 01:20] Minivera commented on #193
Sure, I will do that when I get back at my workstation tomorrow.

[2018-03-14 16:55] joepio commented on #172
I believe overriding the default behavior of using the tab key in an input field is bad practice. It severely impacts accessibility. Keyboard only users can't use megadraft.

I'll change my suggestion. Remove the `preventDefault`, change `onTab` to:
[code]

[2018-03-14 16:57] CameronAckermanSEL commented on #172
(So there's no illusions on this, I have no intention on changing this behavior as I don't use Draft anymore, so I think you'll need to come up with your own PR)

[2018-03-14 17:02] joepio commented on #172
Thanks for the quick reply! I opened a PR, #197

[2018-03-29 18:40] crouman opened #199 "Link input displaying outside viewable area"
At smaller viewport sizes, the link input displays outside the viewable area. The screen capture is taken from megadraft.io website...

Possibly related to issue #143 ?

![link-pop-up_offscreen](https://user-images.githubusercontent.com/3067836/38106920-5dc7aac8-3345-11e8-9355-18fcf55eb5d1.jpg)

[2018-03-30 18:59] lightninglu10 opened #200 "Does Component Work for React Native?"
Hey guys, does anyone know if this will work out of the box for React Native?

[2018-03-30 19:29] lightninglu10 commented on #200
Nope, utilizes react-dom so won't work for React Native.

[2018-03-30 19:29] #200 closed

[2018-04-03 17:39] #193 closed

[2018-05-01 10:53] LyTranCong opened #202 "The most rock n’ roll text editor ever?!?!?!"
I'm so sorry but I would like to say that Megadraft is our wrong choice. I'm scared because it's broken for every major upgrade!

[2018-05-01 13:50] marcelometal commented on #202
Hi @LyTranCong ,

We apologize for any inconvenience. Could you please elaborate more?

[2018-05-02 22:01] lightninglu10 opened #203 "Uncaught Error: block is not a BlockNode"
Hey guys, we have custom megadraft plugins that we use and everything was working beautifully but recently we've hit some errors.

Now when we use the yeoman generated plugins, we're getting ```Uncaught Error: block is not a BlockNode```.

We've updated megadraft to the latest version but haven't updated the megadraft plugins to use the latest versions of megadraft. Any idea what's up?

[2018-05-02 22:02] lightninglu10 commented on #203
It's happening on this call here:

[code]

[2018-05-02 22:27] lightninglu10 commented on #203
Weird because I ran the debugger and it seems to fail this check:

[code]

but it looks like the block is actually a ContentBlock

[2018-06-18 18:33] ericaprieto opened #204 "Weird behavior after removing a custom block"
The editor starts to misbehave after I delete a custom block, as seen on the gif bellow

![jun-18-2018 15-32-33](https://user-images.githubusercontent.com/37906602/41555061-ece193e8-730c-11e8-83fa-3cb94b8e005b.gif)

[2018-06-25 21:30] #202 closed

[2018-07-02 11:56] AlessiaCorsini opened #207 "Custom toolbar actions"
Hello everyone, I just started to work with megadraft so forgive me if I missed something.
In my project I would like to replace the toolbar actions with some custom ones but I am stuck. In your documentation you are using an 'actions' variable
[code]
but from were should I get it from?  Thank you in advance

[2018-07-02 16:38] marcelometal commented on #207
Hi @AlessiaCorsini, you can get it from:

 ```import actions from "megadraft/lib/actions/default"```

I`ve fixed the docs, thank you!

[2018-07-27 14:56] Yuripetusko opened #209 "Android: onChange returns empty text"
When I type something in browser or ios  and then do `editorStateToJSON(this.state.editorState)` I can see value i typed in `text` field, however on android no matter what i type it's always empty and then when i blur out of the textarea or press enter for new line, text simply dissapears

[code]

Same issue on megadraft.io demo editor

[2018-07-30 09:00] Yuripetusko commented on #209
Looks like draft.js problem

https://github.com/facebook/draft-js/issues/1077

[2018-07-31 15:26] macrozone commented on #188
actually this is not fixed, but its weird.

I have a form as entity input, doing something in this form seems to trigger an event, so that the editor will update its editorState. I think it has something to do with focus issues

I try to do a short reproduction

[2018-08-01 01:58] reduxdj opened #210 "SSR rendering doesn't work with page load"
the editorState doesn't seem to initialize from Server Side Rendered views, but it seems to be an initialization issue:
assuming I am using this flag for pre-rendering or allowing user to input: initFromSavedContent

[code]

[2018-08-01 02:07] reduxdj commented on #210
By the way my work around goes likes this, from its parent I handle it like this:
[code]

[2018-08-02 09:31] macrozone opened #211 "shouldDisplayToolbarFn broken"
https://github.com/globocom/megadraft/pull/195 changed the api of shouldDisplayToolbarFn so that it is unusable now.

before, you would receive state and props of the toolbar in that function as arguments. Now, you won't receive anything anymore

[2018-08-07 19:54] AlessiaCorsini opened #213 "handleBlur with timeout sets states after component unmounted"
After updating Megadraft to v5.0.1 if I change route (remove the editor) with the editor still in focus I get:

`Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the MegadraftEditor component.`

[code]

For what I could see it seems that blurTimeoutID is not cleare

[2018-08-19 10:44] eduludi opened #214 "Megadraft internal i18next instance messes up App's one"
Since `0.5.0`, importing Megadraft causes an override of my app's i18next instance. In other words, in the moment the component with Megadraft `import` is loaded, all others translations show only their key values.

Can be i18next disabled (or removed) from Megadraft, and provide custom translations as props, like other component libraries handle i18n. Here is an example:

[code]

Removing the dep

[2018-08-21 09:37] tobiasmayr opened #215 "Android: crash when hitting backspace on empty input box"
Hi,

I tried this on megadraft.io, because interestingly it also happens on slate.js (the demo for slatejs):

- open the site megadraft.io in a browser on Android
- delete all the text that is there
- hit backspace once more
- the editor crashes

Tested with Google Chrome and Firefox.

[2018-08-24 18:50] abomb14c opened #217 "Lose Text Options when hooking up CSS"
I feel crazy stupid right now but when i hook up the the css file the layout changes to the dropdown with options for video and pictures but I lose all of the text options?

[2018-08-24 19:04] abomb14c commented on #217
also, how do i get an invite to the slack channel? Documentation isn't helping.

[2018-08-28 21:18] allanassis commented on #215
Hi @tobiasmayr ,
We don't have plans to work on a mobile solution in the short term, but it could happen in the future.

[2018-08-29 17:44] vierno commented on #217
@abomb14c the slack channel should not require an invite, I believe you can just create an account with your e-mail.

By losing all the text options you mean the toolbar does not show up when you select the text? Can you find it on the browser inspector?

[2018-08-29 18:03] vierno commented on #214
@eduludi, yes, Megadraft should not take control and override i18next, your first suggestion looks good to me.

[2018-08-31 17:57] reduxdj opened #218 "Spellcheck should be supported"
spellcheck=true ??

[2018-08-31 17:59] reduxdj commented on #218
```document.getElementsByClassName('public-DraftEditor-content')[0].spellcheck = true```

the work-around

[2018-09-08 07:26] tobiasmayr commented on #215
Oh sorry, didn't notice that this was not a mobile project :)

[2018-09-08 07:26] #215 closed

[2018-10-04 15:39] heitorsilva opened #220 "Enter on Hacktoberfest"
Hello guys!

Why don't you enter Hacktoberfest too?

https://hacktoberfest.digitalocean.com/details
https://hacktoberfest.digitalocean.com/#gettingstarted

[2018-10-09 20:46] #211 closed

[2018-10-11 17:55] marcelometal commented on #213
PR #221

[2018-10-30 16:20] marcelometal commented on #220
thanks!

[2018-10-30 16:20] #220 closed

[2018-10-30 16:31] marcelometal commented on #214
#219 fixes it, so I'm closing this issue.

[2018-10-30 16:31] #214 closed

[2018-10-30 16:32] marcelometal commented on #217
@abomb14c  ping?

[2018-10-30 16:34] #207 closed

[2018-11-08 13:40] #218 closed

[2018-11-21 21:22] andreyazevedo opened #223 "custom toolbar action - handle the active button"
I'm creating a **_text alignment_** functionality using **custom actions**. It's works, but I can't manage the active state of toolbar button. It's initialised as null and ignored in the case statement.

I don't know if make sense pass another function that handler the **active** state (such as in action handler). In case that approach is considered valid I can make a PR.

thanks :)

https://githu

[2018-11-21 21:37] andreyazevedo commented on #223
@marcelometal nice :)
I will work on it.

[2018-12-08 12:46] arlydemo opened #225 "how to add 'code pre' icon as default?"
Anyone can provide an example to add 'html pre' in toolbar?

[2018-12-13 11:46] kunokdev commented on #147
Would be great if you actually added example for this somewhere

[2018-12-13 12:05] kunokdev commented on #93
Are those tools compatible wtih this lib? It seems editorState object is not same here as in draftjs? All examples and libraries fail with error

[2018-12-20 14:32] mrpsiho opened #226 "Is there a way to limit editor to a certain type of blocks only?"
Hi,

Thanks for the great editor!
I have some questions - if it is possible:

1. to limit editor to a certain type of blocks only (for instance, I would like to allow only images)?
2. to limit to a certain number of blocks of certain block types / the number of any blocks which can be added?

[2019-01-12 15:29] estermer opened #227 "Pass editorState to ToolbarItem Icon"
Currently for custom toolbar actions, there is a key to add an icon. it would be nice to enable passing data to that icon so it can edit the editorState instead of jumping to a new input entity.

For example i could render a dropdown for font sizes or a popover with a color picker.

So in a custom toolbar action it would look something like this:

[code]

[2019-02-10 11:47] matfire opened #231 "Unhandled Rejection (Invariant Violation): invalid RawDraftContentState"
Hello,

I'm trying to implement megadraft to write articles. Creating an article works fine, and I can save it by calling
[code]
When I save it to my DB, I do it this way
[code]
editorStateFromRaw(JSON.parse(string_from_db))
[code]

[2019-02-18 03:22] andreyazevedo commented on #231
`editorStateToJSON` returns a string, not an object, so you don't need to use `JSON.stringify`.

[2019-02-18 08:00] matfire commented on #231
Thank you! That solved it!

[2019-02-18 08:00] #231 closed

[2019-03-06 19:55] bpurtz opened #234 "Toolbar covered up by Iphone text selection options"
When viewing the editor on an iphone, highlighting any text will also bring up the native iphone text options, obscuring the toolbar. Making the toolbar appear below the selection on small screens instead of above could be an easy fix.

[2019-04-21 02:07] #223 closed

[2019-04-25 19:56] codergkd opened #235 "Content not updating as per index in Drag n Drop plugin but its actually updating Array of object, Attached video of my app"
Please go through below URL actually content is not rendering as per data after drag n drop
https://www.loom.com/share/8745e5855b5441008eac222f6bd644d5

[2019-06-16 10:15] Kinyugo opened #238 "Toolbar non-responsive"

[2019-06-16 10:16] #238 closed

[2019-06-16 10:17] Kinyugo opened #239 "Toolbar non-responsive"
The toolbar does not display correctly on small screens or even larger ones when the text is at the start of the screen.
Some parts of it are hidden

[2019-06-26 20:43] jarl-alejandro opened #241 "Collaborative Editor with megadraft"

[2019-06-30 15:47] joonhocho opened #242 "how to paste image?"
how to handle copy and paste image (not url) directly?

1. copy image
![Screen Shot 2019-06-30 at 8 45 11 AM](https://user-images.githubusercontent.com/930795/60399011-95b71b80-9b13-11e9-9f76-8963fb399573.png)

2. paste image and nothing happens.

[2019-06-30 15:51] joonhocho commented on #242
I found out I can use this: https://draftjs.org/docs/api-reference-editor#handlepastedfiles

[2019-06-30 15:51] #242 closed

[2019-07-18 09:18] ri8ika opened #243 "Can't edit after removing container"
I am not using CommonBlock as per plugin example. I have a button which calls the following function to remove the container. But after this the content is not editable. It only becomes accessible after window is reloaded.
[code]

I think I need to update the editorState. But not sure how to update it?

[2019-08-06 14:46] allanassis opened #246 "Text being inserted into `atomic` block and erasing `data` property."
### This is a `draftjs` problem

When a text is inserted into a line bellow the atomic block this text is inserted into the atomic block, then the data property is erased.

There is already a PR of `draftjs` that solves this problema.
https://github.com/facebook/draft-js/pull/1783

[2019-08-27 05:52] SvyatoslavPozhydaev commented on #243
+1

[2019-08-27 07:47] SvyatoslavPozhydaev commented on #243
@ri8ika this problem occurs if you use a focusable element to invoke container methods

[2019-08-27 08:17] SvyatoslavPozhydaev commented on #243
@ri8ika you can add stopPropagation on root element block
`
import React, { PureComponent } from 'react';
class Block extends PureComponent {
   render() {
     return (
        <div
             className="root-ement-block"
              onFocus={(e) => e.stopPropagation()}
              onBlur={(e) => e.stopPropagation()}

            <button onClick={() => this.props.container.remove()}>remove<

[2019-09-17 18:43] jleck opened #247 "Renamed React Methods: componentWillReceiveProps"
Hi,

Has anyone tackled removing componentWillReceiveProps etc from the codebase? If not, I'll work on that and submit a PR.

[2019-09-18 18:43] icaromh commented on #247
@jleck We will love your contribution 🎉

[2019-10-01 04:13] ScottiBR opened #248 "Website menu bar show mispositioned Left Dropdown"
## Context
When you are inside the website, if you click on the *Documentation menu*, the scroller will create a weird behavior showing the Left Dropdown at nowhere. There's anyone working on that, or can i submit a PR?

## Steps to Reproduce the Bug
- Desktop Google Chrome Version 77.0.3865.90
- Open website
- Scroll half of the current viewport, enough to see the documentation menu
- Click on do

[2019-10-02 14:03] gagandeepp commented on #247
Is this still open I can take a look on this?

[2019-10-02 20:44] iagocavalcante commented on #248
Can i fix this ?

[2019-10-03 08:34] jleck commented on #247
I haven't started looking at it yet, so fire away!

[2019-10-03 20:55] Andy9822 commented on #247
@jleck
Were you planning to remove those methods and refactoring the parts where they are called or just rename them to its UNSAFE_... version?

I can help with this issue tho

[2019-10-05 04:05] #204 closed

[2019-10-05 23:52] ThaysPrado commented on #239
Hi! Can I help you with this?

[2019-10-06 04:59] Kinyugo commented on #239
Am not using megadraft at the moment, but for future references you can leave your thoughts.

[2019-10-07 11:37] cosydney opened #251 "Toolbar horizontal positionning"
I'm looking for some ways to adapt the toolbar when it meets a border, like so: (here we cannot see bold and italic button)

![image](https://user-images.githubusercontent.com/10532381/66308447-7ea07a80-e907-11e9-8c26-33e5ecabf683.png)

[2019-10-07 19:23] tacoelho commented on #187
Which browser are you using to view it? I just did the same steps on Chrome (Windows 10) and it seems fine to me.

[2019-10-08 22:26] merelj commented on #251
I'd like to take this one

[2019-10-09 10:50] jleck commented on #247
@Andy9822 I was planning to refactor rather than rename to unsafe.

[2019-10-10 13:53] glauberm commented on #190
Did #195 fixed this?

[2019-10-10 14:05] glauberm commented on #239
I can work on this one. Could you provide me with steps to reproduce the issue? I'm not sure what problem are you exactly referring to.

[2019-10-10 14:17] glauberm commented on #175
Hi. Could you provide me with some steps to reproduce this issue? Thanks.

[2019-10-10 18:41] lucasferreiralimax commented on #187
Hello @andreyvital , I created the solution [position placeholder](https://github.com/globocom/megadraft/pull/254)

[2019-10-14 13:01] wdtamagi commented on #27
Hello guys,
I started to work on this, but I have some questions:

This feature is only for image or need apply this to video to?

If you look to my PR, in some components I hand on only style property, would it be better to hand on all properties to be more generic?

@vierno

[2019-10-14 14:15] wdtamagi commented on #27
Until now the selection state only apply when i focus on image, and lost focus when i focus on toolbar or description fields.

I make this because in the future can implement key events to the block, like delete if selected remove the block without conflict with descriptions fields on the bottom of block. Is this a valid way or would be better selection state on focus of any component inside block

[2019-10-14 14:21] wdtamagi commented on #82
I will work on this.  ;)

[2019-10-14 18:16] LuAnderson commented on #251
Please, look in https://github.com/globocom/megadraft/pull/258

[2019-10-14 18:17] LuAnderson commented on #239
Please, look in https://github.com/globocom/megadraft/pull/258

[2019-10-15 18:18] wdtamagi commented on #82
@marcelometal

[2019-10-15 18:18] wdtamagi commented on #27
@marcelometal

[2019-10-16 15:44] tacoelho commented on #157
I´ve made some changes but I coundn´t test them because my notebook went dead.
Could anyone check it please?

[2019-10-16 18:56] JeanPinzon commented on #82
This should be fixed by https://github.com/globocom/megadraft/commit/8db42aebb15b2712970856162b6c91709b1f772a

[2019-10-16 19:07] wdtamagi commented on #27
@JeanPinzon Can you help with this questions?

[2019-10-17 00:22] osmarpetry commented on #175
@ryanlegler do you can be more clear about what is happening?

[2019-10-17 00:25] osmarpetry commented on #82
@johannchen can you reproduce this error in https://codesandbox.io/ or https://stackblitz.com/?

[2019-10-17 02:26] wdtamagi commented on #27
I will make a new PR.

[2019-10-17 12:15] wdtamagi commented on #82
@johannchen I believe this issue has been closed by my PR.

[2019-10-18 13:50] Andre-rsfc opened #264 "Change class components to functional components"
- I dont have assurance its is what do you want, but  I think the code would be more current and beautiful!

[2019-10-18 13:52] Andre-rsfc commented on #264
I started doing this by changing some simpler components #265

[2019-10-18 20:05] mogavin opened #266 "Reorder blocks"
Allow reordering by swapping adjacent blocks.

[2019-10-18 20:13] mogavin commented on #71
Hi, Andre Gavino from **@globocom** here! We are working on the block reordering functionality and will soon release a first version. Follow issue #266

[2019-10-19 13:50] wdtamagi commented on #82
@JeanPinzon @marcelometal
I submmited a new PR (https://github.com/globocom/megadraft/pull/262) to fix a bug caused by my other PR.

[2019-10-19 13:55] wdtamagi commented on #27
I'm waiting the merge of #262 for send my PR because the read-only state impact on selection state of image block.

[2019-10-23 21:13] JeanPinzon commented on #82
This should be fixed by https://github.com/globocom/megadraft/commit/f0a2c0b0b38bd515c6e361b9ead6cc244e455711

[2019-10-23 21:13] #82 closed

[2019-10-24 21:18] JeanPinzon commented on #187
Fixed by https://github.com/globocom/megadraft/commit/ec5a4a96c5cdc34ef4ad1fec45c1bffd43305cda

[2019-10-24 21:18] #187 closed

[2019-11-06 13:28] #266 closed

[2019-11-18 20:16] #248 closed

[2019-11-25 13:43] mogavin opened #277 "Error when editing plugin blocks with movableBlocks prop active"
## Expected Behavior
Editing a plugin block should occur just like a text block, even with prop `movableBlocks` active.

## Current Behavior
When editing a plugin block with prop `movableBlocks` active a component focus loss occurs, and the scroll bar is moved to the center of the screen.

## Steps to Reproduce
1. Render a `MegadraftEditor` component with prop `movableBlocks` with `true` value;
2.

[2019-11-25 14:09] mogavin opened #278 "Delay in plugin button rendering when movableBlocks prop is active"
## Expected Behavior
In the initial rendering of the editor with prop `movableBlocks` active, when clicking inside a different block from the first one, the plugins button should be moved to this block.

## Current Behavior
On the first click in a different block than the first the plugins button not move. The movement occurs only after the second click.

## Steps to Reproduce
1. Render a `Megadra

[2019-11-26 16:46] philohelp opened #280 "SideBar error : this.props.onAction"
Using the latest version of React, I can't use the sidebar anymore (I plugged the megadraft-image-plugin on it). Maybe related to the rewrite of componentWillReceiveProps ?

<img width="526" alt="Capture d’écran 2019-11-26 à 17 44 24" src="https://user-images.githubusercontent.com/12623963/69654127-92996a80-1074-11ea-9eeb-e69821385f9c.png">

[2019-11-26 17:39] icaromh commented on #280
Thanks, @philohelp for reporting it. We are releasing a new version fixing this issue.

[This PR](https://github.com/globocom/megadraft/pull/276) should fix the problem.

[2019-11-26 18:22] icaromh commented on #280
@philohelp it's done. You can use the latest version (0.6.12) installing from NPM.

`npm install megadraft@latest`

[2019-11-26 18:22] #280 closed

[2019-11-27 11:29] #277 closed

[2019-11-27 18:19] lousander opened #281 "Add onAction fn to listen to reorder blocks events"
Adding the onAction function to `move-control` buttons responsible for swapping blocks up and down.

Add two new action types:
- BLOCK_SWAP_UP
- BLOCK_SWAP_DOWN

[2019-11-30 13:35] #281 closed

[2019-12-09 17:33] mogavin opened #283 "Placeholder trimmed when movableBlocks prop is active"
## Expected Behavior
In empty editor, the first block has a text placeholder.

## Current Behavior
When prop `movableBlocks` is active, this placeholder is trimmed.

## Steps to Reproduce
1. Render a `MegadraftEditor` component with prop `movableBlocks` with `true` value;
2. Note in first block that text placeholder is trimmed ( show only the first letter ).

[2019-12-09 20:36] mogavin opened #286 "Data loss when swapping plugin blocks with blur update"
## Expected Behavior
When swapping any block whose focus is on some internal input, no data from this input should be lost.

## Current Behavior
Some plugin blocks whose editorState update depends on losing focus on the internal input (blur event) end up losing data after being swapped with another plugin block.

## Steps to Reproduce
1. Render a `MegadraftEditor` component with prop `movableBlock

[2019-12-12 19:44] mogavin opened #288 "Focus loss in plugins with react-select dependency"
## Expected Behavior
After inserting a plug-in block that uses a [react-select](https://github.com/JedWatson/react-select) component, it should be possible to interact with its autocomplete.

## Current Behavior
The input is not active and you need to click outside the editor and click inside the input again for the cursor to appear.

## Steps to Reproduce
1. Render a `MegadraftEditor` component;

[2019-12-17 14:09] aristotelesbr2014 commented on #264
+ 1

[2019-12-17 15:30] aristotelesbr2014 opened #290 "How to use functional component (Hook)"
Is it possible to work in the format of hook components?

Have an example? (-:

[2019-12-17 22:09] aristotelesbr2014 commented on #264
Is it possible use like as hooks? For me don't works :(

[2019-12-19 12:58] #278 closed

[2019-12-19 13:19] mogavin commented on #290
Hi @aristotelesbr2014 ! What kind of hook integration are you looking for ? `MegadraftEditor` is a React component, so it can be used with hooks without problem.

[2019-12-19 13:27] mogavin commented on #264
Checking on issue #290

[2019-12-19 13:37] mogavin commented on #264
Closing this issue according to [resolution](https://github.com/globocom/megadraft/pull/265#issuecomment-564170922) in #265

[2019-12-19 13:37] #264 closed

[2019-12-19 17:18] mogavin commented on #227
Hi @estermer! Still interested in improving this feature? I'll close for now, but you can reopen it if you want to continue 👍

[2019-12-19 17:18] #227 closed

[2019-12-19 17:29] mogavin commented on #217
Hi @abomb14c ! Still have this question? I'll close for now, but you can reopen it if you want to continue 👍

[2019-12-19 17:29] #217 closed

[2019-12-19 21:35] mogavin commented on #235
Possibly related to #141

[2019-12-19 21:47] mogavin commented on #235
Hi @codergkd, sorry for the delay. This issue is related to the Megadraft's lack of integration with draft-js-plugins. I'll close it by now and ask you to follow the issue #141. Thanks !

[2019-12-19 21:47] #235 closed

[2019-12-20 12:34] mogavin commented on #234
Hi @bpurtz ! First, sorry for the delay. Megadraft does not yet have full mobile compatibility (like Draft.js) yet, but we are planning to include it in nearby roadmaps. Keep an eye !

[2019-12-20 12:34] #234 closed

[2019-12-20 14:59] mogavin commented on #27
Hi @wdtamagi ! We re-analyzed this issue and, because we have change plans that will affect both the visual and structural aspects, we believe it would not fit right now. Anyway we appreciate your contribution and we ask you to follow our future roadmaps.

[2019-12-20 14:59] #27 closed

[2019-12-20 19:59] mogavin commented on #209
Hi, @Yuripetusko ! First, sorry for the delay. This bug has apparently been resolved in [this draft.js PR](https://github.com/facebook/draft-js/issues/1895), incorporated in the [draft.js release v0.11.0](https://github.com/facebook/draft-js/releases/tag/v0.11.0) . As soon as we update for this version of draft we communicate here.

[2019-12-20 21:23] mogavin opened #291 "Mispositioning toolbar"
## Related issues
#251
#239
#199
#143

## Related PR's
#258
#294

## Expected Behavior
When the toolbar encounters a border, it must be repositioned.

![image](https://user-images.githubusercontent.com/6331103/71293837-6ad8b200-2355-11ea-992d-e5bdb424ccbf.png)

## Current Behavior
When the toolbar encounters a border, it does not reposition and appears cut off.

![image](https://user-images.github

[2019-12-20 21:29] #251 closed

[2019-12-20 21:29] #239 closed

[2019-12-20 21:31] #199 closed

[2019-12-20 21:32] #143 closed

[2019-12-20 21:47] mogavin commented on #210
Hi @reduxdj ! First, sorry for the delay. Do you still having this problem ?

[2019-12-20 21:53] mogavin opened #292 "Update draft.js to v0.11.0"
The release features a number of bugfixes and enhancements. Consider the upgrade.

[2019-12-27 13:07] #288 closed

[2019-12-27 13:07] #286 closed

[2019-12-27 13:07] #283 closed

[2020-01-04 19:35] wdtamagi commented on #291
I sent a PR to fix this.

[2020-01-05 12:13] wdtamagi commented on #291
I believe there is a conflict with Codacy (pipeline) rules and eslint rules for semicolons on my PR #294

[2020-01-06 12:15] mogavin commented on #291
Thank you for your contribution, @wdtamagi . We will look at the issues raised and we will give you feedback shortly.

[2020-01-30 18:14] ydax opened #298 "Toolbar Overlaps ContentEditable Div (from the Left)"
## Expected Behavior
On install, the toolbar should be offset from the content editable div.

## Current Behavior
Toolbar overlays the editing div, conflicting with text.

## Steps to Reproduce

1. Installed Megadraft via npm
2. Built functional React component using Megadraft
3. Imported Megadraft component into App compnent, rendered through index.html (note: App is using MaterializeCSS for defa

[2020-01-30 18:17] ydax commented on #290
@aristotlelesbr214 here's a basic example of Megadraft built with a functional component + React hook:
[code]

[2020-01-31 20:50] mogavin commented on #298
Hi @ydax ! We will analyze your issue and give you feedback soon. Thanks !

[2020-02-03 22:03] mogavin commented on #298
Hello @ydex. We reproduced the mentioned error and there is really a flaw in our documentation. We apologize and soon we will update it. Below is an example to solve your question:

[code]

[2020-02-04 12:50] mogavin opened #299 "Improve usage docs"
## Description
Update the [usage documentation](https://github.com/globocom/megadraft/blob/master/docs/overview.md#usage) to use the example below:

[code]

## Motivation
- CSS link does not work in the current example (#298):
`<link href="node_modules/megadraft/dist/css/megadraft.css" rel="stylesheet">`

- Lack of margin inclusion makes the plugin sidebar hidden.

[2020-02-04 12:51] #298 closed

[2020-02-04 17:07] ydax commented on #298
Awesome, thanks for the help, @mogavin .

[2020-02-07 09:20] davidsoderberg opened #300 "Two editors on same page, content from sidebar ends up in the second editor"
## Expected Behavior
Content added from sidebar should end up in the same editor as sidebar are in.

## Current Behavior
If I add content from sidebar in editor number on content ends upp in sidebar number two.

## Steps to Reproduce
1. Have two editors at same page
2. Add content from sidebar in editor number one.

## Browser, device, and OS
* Mac
* Chrome 79

[2020-02-07 21:08] mogavin commented on #300
Hi, @davidsoderberg ! Are you using the same `editorState` for both editors ? If this is the case, each publisher must have their own `editorState`:

[code]

[2020-02-08 04:26] davidsoderberg commented on #300
No they use thier own state exactly like you are doing in the example.

[2020-02-08 11:42] davidsoderberg commented on #300
After tested this with another editor it seems to be in my code the issue are.

[2020-02-08 11:42] #300 closed

[2020-02-17 15:47] #186 closed

[2020-02-17 15:47] #190 closed

[2020-02-17 15:47] #157 closed

[2020-02-17 15:47] #71 closed

[2020-02-17 20:25] mogavin commented on #291
Merged in release [0.7.0-alpha.0](https://github.com/globocom/megadraft/releases/tag/0.7.0-alpha.0)

[2020-02-17 20:25] #291 closed

[2020-02-17 20:26] mogavin commented on #292
Merged in release [0.7.0-alpha.0](https://github.com/globocom/megadraft/releases/tag/0.7.0-alpha.0)

[2020-02-17 20:26] #292 closed

[2020-02-17 20:26] mogavin commented on #299
Merged in release [0.7.0-alpha.0](https://github.com/globocom/megadraft/releases/tag/0.7.0-alpha.0)

[2020-02-17 20:26] #299 closed

[2020-02-18 17:00] lousander opened #302 "Copied text with movableBlocks active has extra empty spaces on Chrome"
## Expected Behavior
Copy and Paste with movableBlocks active should behave exactly the same with it inactive.

## Current Behavior
Copying text also copies extra empty spaces from the move-control component.

## Steps to Reproduce on Chrome
1. With movableBlocks active, double click to select text on a block with another text block underneath it
2. Copy the selected text and paste it
3. Pasted te

[2020-02-19 17:11] #302 closed

[2020-02-24 15:12] #241 closed

[2020-02-24 18:12] #226 closed

[2020-02-24 21:12] #203 closed

[2020-02-24 21:12] #247 closed

[2020-02-24 22:12] #243 closed

[2020-02-24 22:12] #246 closed

[2020-02-24 23:12] #92 closed

[2020-02-25 15:39] #141 closed

[2020-02-25 15:39] #175 closed

[2020-02-26 17:40] #210 closed

[2020-02-26 17:41] #209 closed

[2020-02-26 23:43] vlachmilan opened #304 "Performing an operation upon deleting a block"
Let's say you have a custom block in your editor and let's say it's some image that uploads to your server. The server then returns an URL with the public path to the said image. All of this functionality is being performed by a plugin.

![image](https://user-images.githubusercontent.com/24868335/75398403-db71f100-58f9-11ea-9c5f-ede633844080.png)

Is there a recommended way to send a request to th

[2020-03-02 21:05] mogavin commented on #304
Hi, @vlachmilan ! First, sorry for the delay in responding. As for your question, there is no recommended way to do this implementation, even your suggestion works without problems. However, it entails a request to the server for each change in the editor, even if that change was not necessarily been saved by the user. One idea would be to just hide the deleted images and set a "deleted" attribute

[2020-03-02 21:10] vlachmilan commented on #304
@mogavin What a fantastic suggestion! I think that is the best approach to the issue - to let the server handle all the heavy lifting while saving the content. Thank you!

[2020-03-02 21:10] #304 closed

[2020-03-24 22:07] vlachmilan commented on #304
In the end, I have decided to create a custom function supplied with the package that can be called in editor's `onChange`  which keeps track for deleted images while respecting undo/redo operations.

Upon saving content, I would send this custom state of deleted images together with the editor's content, and server then handles the rest.

[2020-03-25 12:06] mogavin commented on #304
Ah, great solution @vlachmilan ! Thank you for sharing with us!

[2020-03-26 04:58] mikekoro commented on #290
This is somewhat related question. I am trying to build a custom plugin using hooks.

[code]

Would result in **TypeError: Object(...) is not a function**

[2020-03-26 16:04] mikekoro opened #312 "Uncaught Invariant Violation: Minified React error #200"
This is the error I get when I attempt to run a dev version of the plugin. Is there any way to  fix it?

The reason I am trying to run it in dev mode is to add an additional button to "sidebar__menu" (not a plugin that goes inside the drop down menu, but a "top level button", which should be right next to the current sidebar button). Perhaps, there is a way to achieve it through "sidebarRendererFn

[2020-03-30 15:38] mogavin commented on #312
Hi, @mikekoro !

Currently the only extension available is the insertion of new plugins as additional button in the `Sidebar`. The functionality you mentioned would be possible with the insertion of a new `SideMenu` component in the `Sidebar`. Follow the [dev mode procedures](https://github.com/globocom/megadraft#developing), but access `localhost:8080/#` (without the `/dev`, we will fix that ), t

[2020-03-30 18:09] mogavin commented on #290
Hi, @mikekoro !

We need more details on how to reproduce your error. But as an example of how hooks can work in plugins I modified the `src / plugins / ImageButton.js` file in dev mode:

[code]

Result:
![test_hooks](https://user-images.githubusercontent.com/6331103/77944994-45cdd680-7296-11ea-81d7-469a9108701d.gif)

[2020-03-30 22:59] #312 closed

[2020-04-05 18:32] admc opened #313 "Hide dropdown menu all together?"
Greetings, cool project!

I was wondering if there was a simple way to hide the expandable menu completely and only show user options when text is selected.

Thanks!

[2020-04-09 15:07] lousander commented on #313
Hi Adam, thank you! :)

Yes, both the sidebar and the toolbar can be overwritten in the Editor if you want.

The `sidebarRendererFn` prop can be used when creating an `Editor` instance to provide your own custom sidebar, the one that comes up in the left with the plugin list. You can pass an empty component here if you don't want the sidebar to be rendered at all. But if you do want to use a custo

[2020-04-10 01:24] aristotelesbr2014 commented on #290
thanks for the help guys!

[2020-04-10 01:24] #290 closed

[2020-04-10 05:13] admc commented on #313
Perfect, thanks so much - worked like a charm.

[2020-04-10 05:13] #313 closed

[2020-04-14 15:39] richardkevin opened #314 "Movable blocks works when readOnly is enable"
# -- Bug Report --

## Expected Behavior
Feature movable block deactivated when readOnly is enable

## Current Behavior
Movable block enabled, allowing editing in a readOnly mode

## Steps to Reproduce
1. pass readOnly as props to MegadraftEditor

[2020-04-14 19:33] an2323 commented on #234
Hi @mogavin, any updates here?

[2020-04-14 20:47] #314 closed

[2020-04-14 20:51] mogavin commented on #234
Hi, @an2323 ! Megadraft does not yet officially support mobile devices. An alternative to using it on these devices is to disable the toolbar and rich text buttons (in native iphone text options):

[code]

[2020-05-09 20:12] shahilpb commented on #143
please help me, which steps I need to follow?

[2020-06-09 16:33] megphillips91 opened #317 "Love Megadraft have questions"
# -- Feature --
Reaching out here just because I am not on the slack channel :) sorry about that. I am willing to contribute to the docs if you guys could help a newbie out a bit. I am not a JS Ninja so it is very possible I am just "doing it wrong". Unfortunately, I am getting alot of errors with trying to implement within functional components using hooks.

## Description

- detailed documentati

[2020-06-17 17:56] megphillips91 commented on #317
Thank you Igor-giusti :). I struggled around a bit and in the end I decided to go with another wysiqyg implementation of draft.js which was more suited to my project. Thank you for your response.

[2020-07-29 23:45] karrie-helloalice opened #319 "List Item Symbol and Placeholder Both Appear at the same time"
# -- Bug Report --

## Expected Behavior
Placeholder is not present when there is a list item bullet/number in the editor.

## Current Behavior
Placeholder and list element are both present within the editor.

## Steps to Reproduce
1. Within a megadraft editor, add any number of li elements
2. Highlight the list items
3. Press 'delete'
4. You should see the li element overlapping with the placehol

[2020-07-30 18:01] lousander commented on #319
Hi Karrie!
Thank you very much for you report :)
We will take a look into it soon. We also accept contributions if you're interested in tackling this issue ;)

[2020-07-30 18:04] #317 closed

[2020-09-09 19:37] sibelius commented on #141
what is the status of this?

[2020-09-18 17:40] lousander opened #324 "Update movable blocks if readOnly props changes"
# -- Bug Report --

## Expected Behavior
When I change the prop readOnly, Megadraft should remove the possibility of moving blocks even if it's already instantiated.

## Current Behavior
Changing the prop readOnly to true makes the text uneditable but the move blocks wrapper is still present.

## Steps to Reproduce
1. Create an instance of Megadraft with `readOnly` prop equals `false`
2. In the sa

[2020-09-28 14:07] #324 closed

[2020-10-01 20:25] LFRusso commented on #319
Is this issue still available? I would like to work on it!

[2020-10-07 19:21] lousander commented on #319
Hi, @LFRusso. Sorry for the late reply. I think we already have 2 open Pull Requests, awaiting review, for this issue.

[2020-10-17 18:28] ShraddhaGeek commented on #319
Can I take this ?

[2020-11-06 15:36] jeffersonGlobo opened #334 "Feature request: To implement rel attribute for LinkInput component"
# -- Feature --
Currently, in the link input. There is no option to change or customize the value of the rel attribute.
Today, we need to add the **sponsored** value to the rel attribute, thus `rel="sponsored"`.
This functionality would be to qualify for a google specification. And then meet the needs of the commercial area with customers.

## Description

The proposal would be to create a toggle

[2020-11-25 20:48] #319 closed

[2021-01-12 21:36] #334 closed

[2021-02-07 18:52] richiejoel commented on #290
Thanks @ydax, you helped me!!! 🚀

[2021-03-19 16:54] HakimJu opened #338 "After updating megadraft the editor is always not editable unless I reload"
# -- Feature --
Supply setReadOnly to the Block component in order to  change and manipulate readOnly state

## Description
There is a use case when trying to implement creation/update of block via a Modal. The update modal is being triggered when clicking on the block output
<img width="857" alt="Screenshot 2021-03-19 at 17 50 06" src="https://user-images.githubusercontent.com/25585534/111815219-

[2021-04-06 04:07] mottox2 opened #342 "Support React v17"
## Expected Behavior
No error when I run `npm install` on a project that contains React17

## Current Behavior
When I run `npm install` on a project that contains React17, I get the following error.

[code]

I must run `npm install megadraft --force`

This error is caused by an outdated draft.js included in megadraft.
[Latest draft.js support React17](https://github.com/facebook/draft-js/commit/b7

[2021-06-22 14:17] lousander commented on #342
Hi @mottox2. We did create a branch updating React to version 17, but it broke some of our tests though. Enzyme does not yet support it, only with an adapter. Is there a specific reason for version 17 though? It seems to be only a [transition version](https://reactjs.org/blog/2020/10/20/react-v17.html) to React18, without any new features. Maybe version 16 would work just fine for your project.

[2021-06-22 15:05] lousander commented on #338
Hi @HakimJu. Our Stalebot closed this issue automatically, but I reopened because it's in our schedule and we'll take a look at it soon. :)

[2021-06-23 12:28] vousys opened #345 "Improve usage docs - Handle HTML data"
Hi! I love your customization of draft-js. Maybe you could improve usage docs with this information, many newbie devs will be pleased.

## Load default HTML data to the editor, save data content to HTML and JSON

[code]

[2021-07-12 22:40] samisafatli commented on #342
Hello, @mottox2!
We have created a new release to fix the issue. You can just use the version [0.7.5](https://github.com/globocom/megadraft/releases/tag/0.7.5). If you have any future problems, please contact us.
🤘

[2021-07-12 22:41] #342 closed

[2021-07-13 17:15] igor-giusti commented on #338
Hi, @HakimJu the `setReadOnly` and `setInitialReadOnly` are available in `props.blockProps`. You can use them to manipulate the editor's editable state as requested.

[2021-07-13 17:15] #338 closed

[2021-07-13 23:19] igor-giusti commented on #345
Hi, @vousys!
Glad you loved it! Thanks!

About the docs request:

There's a [section that covers the conversion from `EditorState` to `JSON`](https://megadraft.io/#/docs/saving-loading). The example is very similar to the one you suggested.

About loading the `EditorState` from an `HTML` string, we could add some docs since this is supported by Draft.js. Or link to Draft.js docs for that feature.

[2021-09-21 19:39] #345 closed

[2022-02-10 11:06] marcelometal opened #368 "NodeJS 16 support"
Build failed: https://github.com/globocom/megadraft/runs/5139464250?check_suite_focus=true

[2022-02-20 02:04] charescape opened #373 "Warning: A string ref, "toolbarWrapper", has been found within a strict mode tree."
# -- Bug Report --

## Expected Behavior
No warnings.

## Current Behavior
Warning: A string ref, "toolbarWrapper", has been found within a strict mode tree. String refs are a source of potential bugs and should be avoided. We recommend using useRef() or createRef() instead. Learn more about using refs safely here: https://reactjs.org/link/strict-mode-string-ref

## Steps to Reproduce

1. Followin

[2022-05-18 17:16] demo-igor opened #378 "With switching between two editors toolbar save state after link (action) opened to add/edit"
# -- Bug Report --

## Expected Behavior
Toolbar should reset state between switching editor

## Current Behavior
Toolbar saves state between switching editor

## Steps to Reproduce
I added two editors to the one page. And found that during editing if toolbar link (action) opened and than I click to text on second  editor toolbar show me previous state (link is opened to edit, state from editor 1)

[2022-05-19 08:37] demo-igor commented on #378
@marcelometal  this bug not reproduced on release `0.5.2` but can be reproduced for highest versions including latest one. I also checked on simpler implementation for `MegadraftEditor`.

[2022-06-06 06:15] S1ark opened #380 "Not Seeing Text Block in Menu"
# -- Bug Report --

## Expected Behavior
Text Block to be shown as part of left Menu

## Current Behavior
Not Seeing Text Block in Menu

## Steps to Reproduce
[code]

## Browser, device, and OS

## Screenshots
![Screen Shot 2022-06-06 at 1 15 50 AM](https://user-images.githubusercontent.com/42456594/172105842-2e4c8322-ee91-4b6d-a396-c49bd26edb4f.png)

[2022-06-06 16:15] igor-giusti commented on #380
Text Blocks are created by just typing into the editor. That's why it's not displayed in plugins menu.

Image and Video plugins are the default plugins when no `plugins` props is passed to `<MegadraftEditor />` component and the screenshot shows they are correctly rendered.

[2022-06-06 16:15] #380 closed

[2022-09-06 13:10] organizeler opened #383 "i18n language support for tr-TR"
# -- Feature --

can i add i18n.js file only language supports
## Description

I use megadraft and want to improve it. Additionally, I design some new features end of features I can share themselves its.

## Motivation

I want to megadraft can more suitable for text editor because i love it

we need add in src/i18n.js

[code]

[2022-09-15 17:14] ShakurOo opened #384 "blockComponent is recreated when special char is typed in the main editor"
# -- Bug Report --

## Expected Behavior
The `blockComponent` shouldn't be re-created all times

## Current Behavior
Since the version `0.7.0` the `blockComponent` is always re-created when you write a special character like `ê`, `ë` (combinaison of two keyboard keys to being added).

## Steps to Reproduce
Go to : https://codesandbox.io/s/megadraft-with-plugins-and-example-content-forked-ck83pb?fi

[2022-09-23 16:21] ShakurOo commented on #384
Update: It seem's that the problem still comes with the version under `0.7.0`. in this case :
- Create new empty block by pressing ENTER key (new line)
- Begins by typing the special char `ê`

You'll see again the `blockComponent` re-mounting.

[2022-10-02 03:24] natamartins commented on #368
O log não foi encontrado. Ele pode ter sido excluído com base nas configurações de retenção.

[2022-10-03 14:33] taismassaro commented on #368
I also got this issue running it locally and here's an updated log from my PR: https://github.com/globocom/megadraft/actions/runs/3174732877/jobs/5171891434

[2022-10-04 01:51] lucasferreiralimax opened #391 "Update Project Latest React"
# Update Project Latest React

Update react for last version 18 and up news compatibility

## Description

Re-write old structure with new structure for [React v18](https://reactjs.org/versions/)

## Motivation

Update project for new compatibility and news features from React latest

[2022-10-04 18:31] #383 closed

[2022-10-04 18:39] meerhamzadev commented on #391
So In this issue, we are supposed to update react 17 to react 18 just? or are We also supposed to restructure the codebase according to the react 18?

[2022-10-04 19:43] meerhamzadev commented on #391
Vite has some great use cases, and the instant reloads feedback is crazy. But without code splitting enabled it's a little slow compared to webpack 5 in cold starts and production builds.

[2022-10-05 17:12] #368 closed

[2022-10-05 17:49] meerhamzadev commented on #391
@lucasferreiralimax Yes both tools are good and applicable in your scenario. I think its better to stay on webpack and update your project to from webpack 4 to 5.

[2022-10-09 16:58] Alcadeus0 commented on #373
hi, can i work on this?

[2022-10-13 22:30] jerempy commented on #384
ImageBlock gets added as a plugin here: https://github.com/globocom/megadraft/blob/1caecd3b3ced5e44c3990401f1f0542cb32e7a77/src/components/MegadraftEditor.js#L121 by default if you don't specify it as a plugin. What happens for you if you don't specify any plugins?

ALso, noticed opportunity for minor improvement on these components so opened a PR for them: https://github.com/globocom/megadraft/pu

[2022-10-14 02:40] jerempy opened #407 "Remove forgotten and unsued React imports"
# -- Change --
Remove unused imports of React.

## Description
There are many imports of `React` that aren't use. I am guessing these are leftovers from previous coding conventions that never got picked up and removed.

## Motivation
Can be cleaned up to remove unused imports

[2022-10-14 02:43] jerempy commented on #407
submitted a PR to clean up the unused imports

[2022-10-16 10:00] clebsonf commented on #391
I worked on updating the webpack at #404

[2022-10-17 18:20] Ronkiro opened #412 "Possible dependency conflict"
# -- Bug Report --

## Expected Behavior
`npm install` or `make setup` should execute successfully without flags

## Current Behavior
It returns this in `stderr`:

[code]

## Steps to Reproduce
1. Clone repo
2. Execute make setup (or npm install).

Not sure if this occurs in any environments, seems to run ok in my docker.

Using w10 enterprise, node v14.16.0 managed by `nvm` (https://github.com/co

[2022-10-21 00:31] rodrigondec commented on #412
Reproduced on my environment

[code]

[2022-10-21 12:27] rodrigondec commented on #412
I managed to parse the yarn.lock to package-lock.json. With this. the **first** `npm i` works. Doing another `npm i` break the dependencies (probably on the first some packages are updated).

It is not recommended to support YARN and NPM as package managers/runners. It can cause dependencies conflict.

![image](https://user-images.githubusercontent.com/3301060/197195102-6f75cfe6-05b9-4aa0-8e58-6e4

[2022-10-21 18:10] Ronkiro commented on #412
@rodrigondec seems not related. I agree that supporting only one package manager is better in this sense. But the conflict of this issue was probably caused due to some kind of update to eslint or something like that.  Probably updating `eslint-watch` (the package that asks for a different version of eslint) to some version that supports eslint 6.8.0 may help solving the issue. If not possible, th

[2022-10-21 18:54] rodrigondec commented on #412
I asked about only one package manager because yarn is better than npm at solving dependency conflicts. As it is, it's possible to do `make setup` with yarn without the manifestation of the conflict.

So I shall drop npm support as it can be agreed upon

[2022-10-30 07:47] Kathuria commented on #391
Can I work on this?

[2022-10-31 18:06] #391 closed